.video {
  margin: 0 auto rfs(200px);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  overflow: hidden;
  background: var(--base-body-color);
  width: 100%;
  max-width: 1000px;

  video,
  mux-player {
    width: 100%;
    margin: 0;
    display: block;
  }
}
