.root {
  margin: rfs(50px) auto rfs(200px);
  max-width: 800px;
  text-align: center;
}

.rootInner {
  @media (width > 900px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.intro {
  flex: 1;
  margin-bottom: rfs(70px);

  @media (width > 900px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.introTitle {
  font-family: var(--font-headline);
  line-height: 1;
  font-size: rfs(80px);
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}

.introBody {
  line-height: 1.4;
}

.support {
  color: var(--light-body-color);
  font-weight: bold;
  margin-top: 50px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
