.handles {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  flex-wrap: wrap;
}

.handle {
  appearance: none;
  border: 0;
  font-family: inherit;
  background: none;
  padding: 10px 26px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: 15px;
}

.handleCode {
  font-family: var(--font-mono);
  font-size: 16px;
}

.handleCurrent {
  border-bottom-color: var(--accent-color);
}

.content {
  display: none;
  padding: 30px;
  background: var(--light-bg-color);
  border-radius: 0 0 5px 5px;
}

.contentVisible {
  display: block;
}
