.root {
  display: flex;
  justify-content: center;
}

.container {
  width: 22vw;
  margin: 0 40px;
}

.label {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.window {
  box-shadow: var(--box-shadow);
  background: #e2e3e5;
  border-radius: 3px 3px 0 0;
}

.windowBar {
  position: relative;
  height: 2vh;
  padding: 0.2vw 0.5vw;
  display: flex;
  align-items: center;

  &:before,
  &:after,
  div {
    content: '';
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    margin-right: 0.3vw;
  }

  &:before {
    background: #f6615a;
  }

  div {
    background: #f9bf2f;
  }

  &:after {
    background: #3bce41;
  }
}

.progress {
  height: 4px;
  width: 0;
}

.progressLoading {
  animation: load 1000ms ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes load {
  0% {
    opacity: 1;
    background: #0e6dcc;
    width: 0;
  }

  95% {
    width: 100%;
    background: #0e6dcc;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

.browserBar {
  height: 1.8vw;
  background: #f0f1f2;
  border-bottom: 1px solid var(--border-color);
  padding: 0.2vw;
  display: flex;
  align-items: center;

  &:before,
  &:after {
    content: '';
    background: #dedede;
    width: 1vw;
    height: 1vw;
    border-radius: 3px;
    margin: 0 0.3vw;
  }
}

.addressBar {
  background: white;
  border-radius: 3px;
  flex: 1;
  height: 1vw;
}

.page {
  height: 30vw;
  position: relative;
  overflow: hidden;
  display: block;
  background: white;
}

.pageInner {
  position: absolute;
  left: 0;
  right: 0;
  width: 22vw;
  height: 30vw;
  padding: 4vw 3vw;
  transition: all 1400ms ease-in-out;
}

.pageInnerEnter {
  top: 200%;
}

.pageInnerEnterActive {
  top: 0%;
}

.pageInnerLeave {
  top: 0%;
}

.pageInnerLeaveActive {
  top: -200%;
}

.header {
  margin-bottom: 15px;
}

.title {
  height: 1vw;
  background: #bbb;
  margin-bottom: 0.3vw;
}

.copy,
.kicker {
  height: 0.4vw;
  background: #ddd;
  margin-bottom: 0.2vw;
}

.paragraph {
  margin-bottom: 0.5vw;
}

.kicker {
  margin-bottom: 0.4vw;
}

.image {
  height: 0;
  transition: all 0.01s linear;
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  background-size: cover;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.imageDelayed {
  transition: all 0.01s 700ms linear;
}

.imageLoaded {
  height: 5vw;
  margin: 0.7vw 0;
}

.progressiveEnter {
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.progressiveEnterActive {
  opacity: 1;
}

.progressiveLeave {
  transition: all 250ms 250ms ease-in-out;
  opacity: 1;
}

.progressiveLeaveActive {
  opacity: 0;
}
