.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action {
  margin-top: rfs(40px);
  margin-bottom: rfs(40px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actionButton {
  margin-right: 5px;

  @media (width <= 500px) {
    display: none;

    &:first-child {
      display: block;
    }
  }
}

.description a {
  color: var(--accent-color);
}

.logo {
  height: rfs(150px);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.4;

  li {
    margin: 0;
  }
}

.techLogo {
  height: 25px;
  margin-top: 20px;
}



.quoteAuthor {
  margin-left: rfs(50px);
  font-style: italic;
  color: var(--light-body-color);

  &:before {
    content: '—';
    padding-right: 10px;
  }
}
