.action {
  margin-top: rfs(40px);
  margin-bottom: rfs(40px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actionButton {
  margin-right: 5px;

  @media (width <= 500px) {
    display: none;

    &:first-child {
      display: block;
    }
  }
}

.description {
  max-width: 600px;
  a {
    color: var(--accent-color);
  }
}

.logo {
  height: rfs(150px);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.4;

  li {
    margin: 0;
  }
}

.techLogo {
  height: 25px;
  margin-top: 20px;
}

.projectsGrid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;

  @media (width > 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pluginsGrid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;

  @media (width > 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 850px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.quote {
  text-align: left;
  padding-top: rfs(30px);
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: rfs(100px);
    line-height: 0.3;
  }
}

.quoteQuote {
  line-height: 1.2;
  margin-left: rfs(50px);
  font-family: var(--font-serif);
  color: #333;

  p,
  ul,
  ol {
    margin: 0 0 rfs(20px);
  }

  strong {
    background-image: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    font-weight: 600;
  }
}

.quoteAuthor {
  margin-left: rfs(50px);
  font-style: italic;
  color: var(--light-body-color);

  &:before {
    content: '—';
    padding-right: 10px;
  }
}
