.root {
  td {
    vertical-align: middle;
  }
}

.attributeLeft {
  padding-right: 40px;
}

.attributeName {
  margin-bottom: 2px;
  display: inline-block;
}

code.attributeType {
  display: block;
  color: var(--extra-light-body-color);
  font-family: var(--font-mono);
  font-size: 12px;
  background: transparent;
}

.attributeRequired {
  font-size: 12px;
  color: var(--light-body-color);
}
