.root {
  margin: rfs(50px) 0 rfs(100px);
  position: relative;
}

.rootInner {
  @media (width > 900px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.intro,
.picker {
  flex: 1;
}

.picker {
  margin: 0 -25px;
  @media (width > 900px) {
    margin: 0;
    min-width: 540px;
  }
}

.intro {
  margin-bottom: rfs(70px);

  @media (width > 900px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.introSub {
  font-weight: bold;
  margin-bottom: 30px;
}

.introTitle {
  font-family: var(--font-headline);
  line-height: 1;
  font-size: rfs(80px);
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}

.introKicker {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.introBody {
  line-height: 1.4;
}

.support {
  color: var(--light-body-color);
  font-weight: bold;
  margin-top: 50px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.inquiries {
  padding: 0;
  list-style-type: none;

  li {
    margin: 0 0 15px 0;
    padding-right: 30px;
    position: relative;

    &:before {
    }
  }
}

.inquiry {
  display: block;
  text-decoration: none;
  color: inherit;
}

.inquiryTitle {
  font-weight: bold;
}

.inquiryDesc {
  font-size: 15px;
}
