.root {
  margin: 50px 0;
  position: relative;
}

.rootInner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro,
.picker {
  flex: 1;
}

.picker {
  min-width: 540px;
}

.intro {
  margin: 0 70px 0;
}

.introSub {
  font-weight: bold;
  margin-bottom: 30px;
}

.introTitle {
  font-family: var(--font-headline);
  line-height: 1;
  font-size: 50px;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.introKicker {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.introBody {
  font-size: 17px;
  line-height: 1.4;
}

.support {
  color: var(--light-body-color);
  font-weight: 500;
  margin-top: 50px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}