.root {
  margin: rfs(50px) 0 rfs(100px);
  position: relative;
}

.rootInner {
  @media (width > 900px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.intro,
.picker {
  flex: 1;
}

.picker {
  margin: 0 calc(var(--page-margin) * -0.5);
  @media (width > 900px) {
    margin: 0;
    min-width: 540px;
  }
}

.intro {
  margin-bottom: rfs(70px);

  @media (width > 900px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.introSub {
  font-weight: bold;
  margin-bottom: 30px;
}

.introTitle {
  font-family: var(--font-headline);
  line-height: 1;
  font-size: rfs(80px);
  letter-spacing: -0.02em;
  margin-bottom: 50px;
  font-weight: bold;
}

.introKicker {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.introBody {
  line-height: 1.4;
}

.support {
  color: var(--light-body-color);
  font-weight: bold;
  margin-top: 50px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.inquiries {
  padding: 0;
  list-style-type: none;

  li {
    margin: 0 0 15px 0;
    padding-right: 30px;
    position: relative;

    &:before {
    }
  }
}

.inquiry {
  display: block;
  text-decoration: none;
  color: inherit;
}

.inquiryTitle {
  font-weight: bold;
}

.inquiryDesc {
  font-size: 15px;
}

.description {
  padding: rfs(50px);
  font-family: var(--font-serif);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  max-width: 700px;
  margin: 0 calc(var(--page-margin) * -0.5);
  font-size: rfs(18px);
  line-height: 1.4;

  @media (width > 900px) {
    line-height: 1.6;
    margin: 0 auto;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 130%;
    line-height: 1;
    margin: 40px 0 15px;
    font-family: var(--font-headline);
    font-weight: bold;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 160%;
  }

  p,
  ul,
  ol {
    margin: 0 0 15px;
  }

  ul,
  ol {
    padding-left: rfs(40px);
  }

  li {
    margin: 0 0 5px;
  }

  figure {
    text-align: center;
    margin: 50px 0;
  }

  figcaption {
    color: var(--light-body-color);
    font-size: 0.8em;
    margin-top: 15px;
  }

  code {
    background-color: #f4f4f4;
    margin: 0 0.1em;
    padding: 0 0.25em;
    font-family: var(--font-mono);
    border-radius: 0.25em;
    font-size: 0.9em;
  }

  pre,
  img {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    box-shadow: var(--box-shadow);
  }

  pre {
    padding: 30px;
    font-family: var(--font-mono);
    font-size: 0.8em;
    margin: 30px 0;
    width: 100%;
    overflow: auto;
    tab-size: 2;
    line-height: 1.3;
  }

  .responsiveImage {
    margin: 0 auto;
  }
}
