.members {
  display: grid;
  grid-gap: 30px;
  @media (width > 900px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
  }
}

.member {
  text-align: center;
}

.memberImage {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.memberName {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.memberRole {
  color: var(--light-body-color);
  font-size: 0.9em;
}
