.members {
  display: grid;
  grid-gap: 30px;

  @media (width > 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
  }
}

.member {
  text-align: center;
  margin-bottom: 20px;
}

.memberImage {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.memberName {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.memberRole {
  color: var(--light-body-color);
  font-size: 0.9em;
}

.chart {
  position: relative;
}

.chartSvg {
  width: 100%;

  path {
    fill: transparent;
    stroke: var(--accent-color);
    stroke-width: 10px;
    stroke-linecap: round;
  }

  .trendLine {
    opacity: 0.4;
    stroke: var(--azure-color);
    stroke-dashoffset: 80;
    stroke-dasharray: 7;
    stroke-width: 2px;
    animation: dash 2s linear infinite;
  }

  circle {
    fill: #efefef;
  }

  line {
    stroke: #e1e1e1;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 40;
  }
}

.chartContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.chartLabels {
  position: absolute;
  top: -2%;
  left: 1%;
  right: 1%;
  height: 90%;
  color: var(--light-body-color);
}

.chartLabelAnchor {
  position: absolute;
  font-size: 14px;
  margin-left: -20px;

  .chartLabelAnchorAmount {
    color: var(--base-body-color);
    font-weight: bold;
    font-size: 1.4em;
  }

  @media screen and (width < 900px) {
    .chartLabelAnchorAmount {
      font-size: 1em;
    }

    .chartLabelAnchorDate {
      display: none;
    }
  }
}

.chartLabel {
  position: absolute;
  top: 10px;
  left: 0;
  white-space: nowrap;
}

.chartLabelUp {
  top: auto;
  bottom: 10px;
}

.chartSubtitle {
  max-width: 800px;
  margin: 0 auto rfs(40px);
  text-align: center;
}
