.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 14px;
}

.box {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
}

.field,
.bool {
  margin-bottom: 15px;
}

.label {
  color: var(--extra-light-body-color);
  margin-bottom: 5px;
}

.input {
  border: 1px solid var(--border-color);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.bool {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: all 0.2s ease-in-out;

  .label {
    margin-bottom: 0;
  }
}

.boolDisabled {
  opacity: 0.2;
}

.switch {
  height: 16px;
  width: 34px;
  position: relative;
  border-radius: 40px;
  background: var(--extra-light-body-color);
  transition: all 0.2s ease-in-out;

  margin-right: 10px;

  &:before {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 40px;
    position: absolute;
    left: 2px;
    top: 2px;
    background: var(--light-bg-color);
    transition: all 0.2s ease-in-out;
  }
}

.switchOn {
  background: var(--azure-color);

  &:before {
    left: 20px;
  }
}

.button {
  background: var(--azure-color);
  padding: 10px;
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.body {
  padding: 40px 30px;
  background: #f3f3f3;
}
