.root {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
  background: var(--light-bg-color);
}

.formCols {
  @media (width > 900px) {
    display: flex;

    > * {
      flex: 1;

      &:first-child {
        border-right: 1px solid var(--border-color);
      }
    }
  }
}
