.form {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
  background: var(--light-bg-color);
}

.formCols {
  display: flex;

  > .field {
    flex: 1;
  }
}

.field {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  background: white;

  .selectPlaceholder {
    position: absolute;
    top: 60px;
    left: 32px;
    right: 30px;
    font-size: 17px;
    color: var(--extra-light-body-color);
    opacity: 0.6;
    pointer-events: none;
  }

  select,
  input,
  textarea {
    border: 0;
    padding: 60px 29px 30px;
    font-family: inherit;
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-left: 4px solid transparent;
    appearance: none;

    &:focus {
      border-left-color: var(--azure-color);
    }

    &::placeholder {
      color: var(--extra-light-body-color);
    }
  }

  textarea {
    min-height: 150px;
    max-height: 300px;
  }

  label,
  .fieldError {
    position: absolute;
    top: 30px;
    left: 33px;
    width: 50%;
    font-size: 12px;
    line-height: 1;
  }

  label {
    color: var(--light-body-color);
    text-transform: uppercase;
    font-weight: 500;
  }

  .fieldError {
    right: 29px;
    left: auto;
    text-align: right;
    color: var(--accent-color);
  }
}

.submit {
  padding: 20px 29px;
  text-align: right;
}

.anchor {
  position: relative;
  top: -80px;
}
