.box {
  border-radius: 5px;
  box-shadow: 0 0.6px 3.6px rgba(0, 0, 0, 0.024),
    0 1.6px 10px rgba(0, 0, 0, 0.035), 0 3.9px 24.1px rgba(0, 0, 0, 0.046),
    0 13px 80px rgba(0, 0, 0, 0.07);
  font-size: 17px;
  display: block;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

a.box {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.boxBody {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.boxTitle {
  font-weight: bold;
}

.boxDesc {
  margin-top: 4px;
  font-size: 15px;
  color: var(--light-body-color);
  line-height: 1.1;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.boxActions {
  margin-top: 20px;
}

.logo {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 66.6%;
  }
}

.pinkLogo {
  background: linear-gradient(45deg, #f9ecfe, white);
}

.azureLogo {
  background: linear-gradient(45deg, #e9fcff, white);
}

.grayLogo {
  background: linear-gradient(45deg, #e9fcff, white);
}

.blueLogo {
  background: linear-gradient(45deg, #e9e9ff, white);
}

.greenLogo {
  background: linear-gradient(45deg, #e9ffed, white);
}

.yellowLogo {
  background: linear-gradient(45deg, #feffe9, white);
}

.logoInner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 90%;
    max-width: 190px;
  }
}

.logo.square {
  svg,
  img {
    width: 50% !important;
  }

  svg {
    fill: rgba(0, 0, 0, 0.1);
  }
}

.boxDetails {
  color: var(--light-body-color);
  font-size: 0.8em;
  margin-top: 10px;
}
