.video {
  margin: 0 0 rfs(200px);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  overflow: hidden;
  background: var(--base-body-color);

  video {
    width: 100%;
    display: block;
  }
}
