.root {
  margin-bottom: 60px;
  --width: calc(100vw - var(--page-margin) * 2);

  @media (width > 1200px) {
    --width: 1120px;
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 5vw;
  margin: 0 -25px;

  @media (width > 700px) {
    margin: 0;
    grid-template-columns: 1fr 7vw 1fr;
    grid-gap: 2vw;
  }
}

.center {
  text-align: center;
  display: none;

  @media (width > 700px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.backend,
.apis,
.people,
.apps,
.linesVContainer {
  box-sizing: border-box;
}

.backend {
  box-shadow: var(--box-shadow);
  padding: rfs(30px);
  text-align: center;
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 60px;
    height: 60px;
    margin-bottom: 1vw;
  }
}

.backendTitle {
  font-weight: bold;
  font-size: rfs(25px);
  margin-bottom: 20px;
}

.feature {
  margin-bottom: 15px;
  font-size: 0.8em;

  &:last-child {
    margin-bottom: 0;
  }

  @media (width > 700px) {
    font-size: 1em;
  }
}

.apis {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5vw;
}

.api {
  box-shadow: var(--box-shadow);
  text-align: center;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: rfs(25px);
  padding: rfs(20px);
  display: flex;
  align-items: center;
  justify-content: center;

  .apiInner {
    text-align: center;
  }

  svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 10px;
  }

  @media (width > 950px) {
    .apiInner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.lines {
  stroke-dasharray: 8;
  stroke: none;
  stroke-width: 1;
  fill: none;
  fill-rule: evenodd;
  animation: dash 20s linear infinite;

  path,
  line {
    stroke: #c2c8d6;
    stroke-width: 5;
  }
}

.linesH {
  margin: 1vw 0;
  width: 7vw;
}

.linesVContainer {
  padding: 0 3vw;
}

@keyframes dash {
  to {
    stroke-dashoffset: 400;
  }
}

.apps,
.people {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.people {
  top: auto;
  bottom: 0;
}

.app {
  margin: 0 5px;
}

.appLabel {
  font-weight: bold;
  font-size: 0.6em;
  margin-top: 6px;

  @media (width > 700px) {
    font-size: 1em;
    margin-top: 15px;
  }
}

.appIcon svg {
  width: calc(var(--width) * 0.43 / 4);
  max-width: 60px;
  height: calc(var(--width) * 0.43 / 4);
  max-height: 60px;
}

.personIcon img {
  width: calc(var(--width) * 0.43 / 4);
  max-width: 60px;
  border-radius: 50px;
  background: linear-gradient(45deg, #fdece5, #fefae4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.personRole {
  font-weight: bold;
  margin-top: 6px;
  font-size: 0.6em;

  @media (width > 700px) {
    margin-top: 15px;
    font-size: 1em;
  }
}
