.talkWithUs {
  margin: 100px 0;
}

.talkWithUsInner {
  max-width: 600px;
  margin: 0 auto;
}

.talkWithUsIntro {
  margin-bottom: 60px;
  text-align: center;
}

.talkWithUsTitle {
  font-family: var(--font-headline);
  line-height: 1.2;
  font-size: 60px;
  margin-bottom: 40px;
}
