.root {
  padding: rfs(130px) 0;
  background: linear-gradient(45deg, #faedff, #e4faff);
  clip-path: var(--clip-path);
  text-align: center;
}

.rootBlocks {
  @media screen and (width > 800px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.block {
  padding: 0 40px;
  flex: 1;
  color: inherit;
  display: block;
  text-decoration: none;
  position: relative;
  transition: all 200ms ease-in-out;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (width > 800px) {
    margin-bottom: 0;
  }
}

a.block:hover {
  transform: translateY(-10px);
}

.blockTitle {
  font-weight: bold;
  font-size: rfs(90px);
  letter-spacing: -0.05em;
}

.logo {
  display: block;
  height: rfs(25px);
  width: 90%;
  margin: rfs(40px) auto 0;

  path {
    fill: var(--base-body-color);
  }
}
