.root {
  position: relative;

  &:before {
    content: '';
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    clip-path: var(--clip-path);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70%;
    z-index: -1;
    top: 15vh;

    @media (width > 800px) {
      top: 6vh;
      height: 75%;
      z-index: -1;
    }
  }

  [data-with-anchor] {
    position: relative;

    [data-anchor] {
      position: absolute;
      top: -70px;
    }

    &:hover {
      [data-permalink] {
        opacity: 0.5;
      }
    }

    [data-permalink] {
      transition: all 100ms ease-in-out;
      opacity: 0;
      background: url('../../public/icons/regular/link.svg');
      background-size: contain;
      height: 0.7em;
      width: 0.7em;
      display: inline-block;

      svg {
        fill: var(--accent-color);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.rootInner {
  text-align: center;

  @media (width > 900px) {
    height: 65vh;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: left;
  }
}

.body {
  margin-bottom: rfs(70px);

  @media (width > 800px) {
    width: 45%;
    margin-bottom: 10vh;
  }
}

.title {
  margin: 0;
  font-weight: normal;
  font-family: var(--font-headline);
  font-size: rfs(70px);
  letter-spacing: -0.02em;
  align-items: center;
  margin-bottom: rfs(40px);
  line-height: 1;
}

.subtitle {
  line-height: 1.4;
}

.kicker {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--light-body-color);
  text-transform: uppercase;
  margin: 40px auto 20px;
  max-width: 700px;
}

.image {
  height: 30vh;
  margin-bottom: rfs(80px);

  @media (width > 800px) {
    position: absolute;
    right: 0vw;
    top: 0;
    height: 60vh;
    margin-bottom: 0;
    width: 50vw;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}
