.loading {
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 53%);
  opacity: 0.5;
  background-size: 300% 100%;
  animation-name: react-placeholder-pulse;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 0.2em;
}

.loadingText {
  height: 1em;
  display: inline-block;
}

@keyframes react-placeholder-pulse {
  0% {
    background-position: 0% 50%;
  }
  0% {
    background-position: 150% 50%;
  }
}
