.chunks {
  @media (width > 800px) {
    display: flex;
    justify-content: space-between;
  }
}

.routes {
  word-break: keep-all;

  @media (width > 800px) {
    columns: 3;
  }
}

.sitemapLink {
  display: block;
  margin-bottom: 20px;
  display: block;
  color: inherit;
  font-size: 0.9em;
}

.sitemapTitle {
  font-family: var(--font-sans);
  color: var(--light-body-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}
