.wrapper {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  overflow-x: scroll;
}

.table {
  border-collapse: collapse;
  overflow: auto;
  min-width: 100%;

  th {
    text-align: left;
  }

  thead th {
    text-align: center;
  }

  tbody {
    th,
    td {
      padding: 15px 11px;
      border-top: 1px solid transparent;
      border-right: 1px solid var(--border-color);
    }

    th:first-child {
      padding-right: 40px;
    }

    td {
      font-size: 0.9em;
      text-align: center;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }
  }

  .group {
    padding: 50px 9px 15px;
    color: var(--light-body-color);
    border-right: 0;
    text-align: center;

    &:first-child {
      text-align: left;
      min-width: 350px;
    }
  }

  .extra {
    color: var(--light-body-color);
    font-size: 0.8em;
    display: none;

    @media (width > 700px) {
      display: block;
    }
  }
}

.hintDescription {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: var(--light-body-color);
  margin-top: 5px;
  display: none;

  @media (width > 700px) {
    display: block;
  }
}
