.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.cookiesText {
  margin-right: 20px;
  display: inline-block;
}

.cookies a {
  color: white;
}

.cookiesButton {
  background: var(--dark-bg-color);
  color: white !important;
  display: inline-block;
  padding: 10px;
  font-family: var(--font-sans);
  font-weight: bold;
  border-radius: 3px;
  border: 0;
  font-size: inherit;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-right: 4px;

  &:hover {
    opacity: 0.8;
  }
}

.cookiesPrimaryButton {
  background: var(--light-body-color);
}
