.reqRes {
  margin: 2em 0 4em;
}

.title.title.title {
  font-size: 150%;
  line-height: 1.25;
  margin: rfs(30px) 0 rfs(10px);
  font-weight: bold;
  font-family: var(--font-sans);
}

.title::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.chunk {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  > pre {
    margin: 0;
    max-height: 400px;
    overflow: auto;
  }
}

.chunkTitle {
  font-family: var(--font-sans);
  margin-bottom: 15px;
  color: var(--light-body-color);
  font-size: 0.9em;
}

.description {
  table,
  pre {
    margin: 1em 0;
  }
}
