.reqRes {
  margin: 2em 0;
  padding-left: 25px;
  border-left: 5px solid var(--border-color);
}

.pill {
  padding: 5px 8px;
  border-radius: 4px;
  background: #f4f5ff;
  color: #1e64f0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 12px;
  font-weight: regular;
  letter-spacing: 0;
}

.reqRes:hover {
  border-left-color: color-mix(
    in lch,
    var(--highlight-bg-color),
    var(--light-body-color)
  );
}

.title.title.title {
  font-size: 120%;
  margin: 0 0 20px;
  font-weight: bold;
  font-family: var(--font-sans);
  color: var(--light-body-color);
  cursor: pointer;
}

.title:hover .titleTitle {
  text-decoration: underline;
}

.tabs {
  font-family: var(--font-sans);
  display: flex;
  margin-bottom: 20px;
}

.description {
  font-family: var(--font-sans);
  font-size: 16px;
  max-width: 800px;

  table,
  pre {
    margin: 2em 0;
  }
}

.tab {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-bottom: 4px solid transparent;
  padding: 8px;
  font-weight: regular;
  margin-right: 10px;
  font-size: 16px;
}

.tab:hover {
  border-bottom-color: var(--accent-color);
}

.tabActive {
  border-bottom-color: var(--accent-color);
  font-weight: bold;
}

.tabActive:hover {
  border-bottom-color: var(--accent-color);
}

.chunk {
  > pre {
    margin: 0 !important;
    max-height: 400px;
    overflow: auto;
  }

  .description {
    margin-bottom: 20px;
  }
}
