.root {
  margin: rfs(200px) 0;
  text-align: center;

  @media (width > 900px) {
    text-align: left;
    display: flex;
    margin: rfs(100px) 0;
    justify-content: space-between;
    align-items: center;
  }
}

.intro,
.picker {
  flex: 1;
}

.intro {
  margin-bottom: rfs(100px);

  @media (width > 900px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.introSub {
  font-weight: bold;
  margin-bottom: rfs(30px);
  color: var(--light-body-color);
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.introTitle {
  margin: 0;
  font-weight: normal;
  font-family: var(--font-headline);
  line-height: 1;
  font-size: rfs(60px);
  margin-bottom: rfs(40px);
}

.picker {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.personas {
  color: inherit;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid var(--border-color);
  transition: all 200ms ease-in-out;
  position: relative;
  padding: 30px;

  @media (width > 900px) {
    padding: 40px 50px 40px 150px;

    &:hover {
      padding-left: 160px;
    }
  }

  &:last-child {
    border-bottom-width: 0;
  }
}

.personasTitle {
  margin: 0;
  font-weight: bold;
  font-size: rfs(25px);
  margin-bottom: 10px;
  line-height: 1.1;
}

.personasBody {
  margin-bottom: 15px;
  font-size: 0.9em;
}

.personasLink {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--light-body-color);

  svg {
    height: 0.7em;
    margin-left: 10px;
    fill: var(--light-body-color);
  }
}

.personasImage {
  width: 40px;
  margin: 0 auto 20px;

  @media (width > 900px) {
    width: 60px;
    position: absolute;
    left: 50px;
    margin: 0 0 20px;
  }
}
