.root {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro, .picker {
  flex: 1;
}

.intro {
  margin-right: 70px;
}

.introSub {
  font-weight: bold;
  margin-bottom: 30px;
}

.introTitle {
  font-family: var(--font-headline);
  line-height: 1;
  font-size: 60px;
  margin-bottom: 40px;
}

.picker {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.personas {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 40px 50px 40px 150px;
  border-bottom: 1px solid var(--border-color);
  transition: all 200ms ease-in-out;
  position: relative;

  &:last-child {
    border-bottom-width: 0;
  }

  &:hover {
    padding-left: 160px;
  }
}

.personasTitle {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}

.personasBody {
  margin-bottom: 15px;
  font-size: 0.9em;
}

.personasLink {
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--light-body-color);

  svg {
    height: 0.7em;
    margin-left: 10px;
    fill: var(--light-body-color);
  }
}

.personasImage {
  position: absolute;
  left: 50px;
  width: 60px;
}
