.root {
  background: var(--accent-color);
  color: white !important;
  display: inline-block;
  padding: 1em 1.5em;
  font-family: var(--font-sans);
  font-weight: bold;
  border-radius: 3px;
  border: 0;
  font-size: inherit;
  transition: opacity 150ms ease-in-out;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.7;
}

.sInvert {
  background: white;
  border: 1px solid var(--accent-color);
  color: var(--accent-color) !important;
}

.pSmall {
  padding: 0.8em 1.1em;
}

.pTiny {
  padding: 0.3em 1em;
}

.pBig {
  padding: 1.2em 1.5em;
}

.fsBig {
  font-size: 1.2em;
}

.fsSmall {
  font-size: 0.9em;
}

.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
