.root {
  background: var(--accent-color);
  color: white;
  display: inline-block;
  padding: 1em 1.5em;
  font-family: var(--font-sans);
  font-weight: bold;
  white-space: nowrap;
  border-radius: 3px;
  border: 0;
  font-size: inherit;
  transition: all 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.7;
}

.pBig {
  padding: 1.2em 1.5em;
}

.fsBig {
  font-size: 1.2em;
}

.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
