.root {
  border-radius: 2px;
  background: var(--accent-color);
  color: white;
  display: inline-block;
  padding: 1em 1.5em;
  font-family: var(--font-sans);
  font-weight: bold;
}

.disabled {
  opacity: 0.7;
}

.pBig {
  padding: 1.2em 1.5em;
}

.fsBig {
  font-size: 1.2em;
}