.pre {
  text-align: center;
  max-width: 850px;
  margin: 40px auto;
}

.letter {
  padding: 50px 30px;
  font-size: 17px;
  font-family: var(--font-serif);
  line-height: 1.6;
  letter-spacing: -0.02em;
  max-width: 850px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  background: white;

  @media (width > 700px) {
    border-radius: 7px;
    font-size: rfs(21px);
    padding: 80px;
  }

  strong {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  p {
    margin: 0 0 rfs(20px);
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 8px;
  }

  h3 {
    font-family: var(--font-headline);
    font-size: 1.5em;
    margin: rfs(40px) 0 10px;
    line-height: 1.2;
  }
}

.signature {
  margin-top: 40px;
  line-height: 1;
  font-size: 0.9em;

  svg {
    height: 4.5em;
  }
}
