.addCalendar {
  position: relative;
}

.addCalendarMenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  min-width: 200px;
  background: white;
  box-shadow: var(--box-shadow);
  z-index: 10000;
  border-radius: 4px;
  font-weight: normal;
  color: var(--base-body-color);
  padding: 10px 0;
}

.addCalendarOption {
  display: block;
  padding: 5px 15px;
  font-size: 0.9em;
  color: var(--base-body-color);
  text-decoration: none;

  &:hover {
    background: #eee;
  }
}

.kicker {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.split {
  @media (width > 900px) {
    display: flex;
  }
}

.content {
  margin-bottom: 30px;

  @media (width > 900px) {
    margin-right: rfs(70px);
    margin-bottom: 0;
    flex: 1;
    min-width: 0;
  }
}

.sidebar {
  @media (width > 900px) {
    width: 300px;
  }
}

.sidebarInner {
  @media (width > 900px) {
    position: sticky;
    top: 90px;
  }
}

.action {
  margin-top: rfs(40px);
  margin-bottom: rfs(40px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actionButton {
  margin-right: 5px;

  @media (width <= 500px) {
    display: none;

    &:first-child {
      display: block;
    }
  }
}

.actionWhen {
  flex: 1;
  margin-left: 20px;
  color: var(--light-body-color);
  font-size: 15px;

  @media (width <= 1200px) {
    display: none;
  }
}

.description {
  font-size: rfs(20px);
  margin-bottom: rfs(40px);

  a {
    color: var(--accent-color);
  }
}

.header {
  margin-bottom: rfs(50px);

  @media (width > 900px) {
    text-align: left;
  }
}

.title {
  font-weight: bold;
  font-size: rfs(45px);
  margin-bottom: rfs(40px);
  letter-spacing: -0.03em;
}

.block {
  margin-bottom: rfs(35px);
}

.blockTitle {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  color: var(--light-body-color);

  svg {
    fill: var(--light-body-color);
    margin-right: 0.3em;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-block !important;
  vertical-align: middle;
}

.coverImage {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin-bottom: rfs(40px);
}

.add {
  margin-top: 10px;

  @media (width <= 900px) {
    display: none;
  }
}

.speakerImage {
  width: 40px;
  margin-right: 10px;
}

.speaker {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

.speakerName,
.companyName {
  margin-bottom: 4px;

  a {
    color: var(--azure-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.speakerRole,
.companyDescription {
  color: var(--light-body-color);
  font-size: 14px;
}

.when {
  font-size: 20px;
  line-height: 1.4em;
}

.companyImg {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 200px;
}

.company {
  margin-top: 20px;
}
