:root {
  --font-sans: colfax,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-headline: tiempos-headline,Georgia,serif;
  --font-serif: tiempos-text,Georgia,serif;
  --page-margin: 40px;
  --page-width-with-margin: 1200px;
  --base-body-color: #2f333f;
  --light-body-color: #969fb6;
  --border-color: #eee;
  --accent-color: #f5634b;
  --azure-color: #33A3B1;
  --clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 4vw), 0 100%);
  --box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.2px 5.3px rgba(0, 0, 0, 0.028),
    0 4.1px 10px rgba(0, 0, 0, 0.035),
    0 7.4px 17.9px rgba(0, 0, 0, 0.042),
    0 13.8px 33.4px rgba(0, 0, 0, 0.05),
    0 33px 80px rgba(0, 0, 0, 0.07);
}