@media (width < 1000px) {
  .logo {
    overflow: hidden;
    height: 55px;
    padding: 13px var(--page-margin);
    display: block;
    border-bottom: 1px solid var(--border-color);
  }

  .innerSidebar {
    padding: 30px var(--page-margin);
    border-bottom: 1px solid var(--border-color);
  }

  .footer {
    padding: 30px var(--page-margin);
  }

  .mainHeader {
    display: none;
  }

  .notice {
    display: none;
  }
}

@media (width >= 1000px) {
  .notice {
    background: #fff0e8;
    padding: 15px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 14px;
    margin-top: 50px;
  }

  .root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 252px calc(100vw - 252px);
    font-size: 16px;
    position: relative;
  }

  .sidebar {
    background: white;
    position: sticky;
    flex: 0;
    flex-grow: 0;
    display: flex;
    z-index: 5;
    flex-direction: column;
    align-items: flex-end;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    width: 252px;
    height: 100vh;
    top: 0;
    flex-grow: 1;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #e3e8ee;
    }
  }

  .contentWrapper {
    outline: none;
    background: white;
  }

  .logo {
    overflow: hidden;
    width: 230px;
    height: 55px;
    padding: 13px 0;
    flex: none;
    display: block;
    border-bottom: 1px solid var(--border-color);
  }

  .innerSidebar {
    flex: 1;
    overflow-y: auto;
    z-index: 1;
    width: 230px;
    margin-top: 1px;
    padding: 55px 20px 55px 0;

    &:after {
      content: '';
      height: 80px;
      display: block;
    }
  }

  .mainHeader {
    min-width: 700px;
    border-bottom: 1px solid #e3e8ee;
    ul {
      margin: 0;
      margin-right: var(--page-margin);
      text-align: right;

      li {
        display: inline-block;

        a {
          font-size: 16px;
          line-height: 56px;
          padding-left: 30px;
          color: var(--accent-color);
          display: flex;
          align-items: center;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          svg {
            fill: var(--accent-color);
            margin-right: 5px;
          }
        }
      }
    }
  }

  .container {
    padding-bottom: 33px;
  }

  .mainHeader {
    height: 55px;
  }

  .footer {
    border-top: 1px solid var(--border-color);
    padding: 50px var(--page-margin);
    margin-top: 50px;
  }
}

@media (width >= 1300px) {
  .root {
    grid-template-columns: minmax(270px, calc((100% - 1262px) / 2 + 270px)) 1010px 1fr;
  }

  .sidebar {
    min-width: 292px;
    width: 100%;
  }

  .logo {
    width: 270px;
  }

  .innerSidebar {
    width: 270px;
  }

  .container {
    padding-left: 64px;
  }

  .mainHeader {
    width: 1010px;
  }

  .footer {
    padding: 50px 0;
  }
}

.footer {
  font-size: 15px;
  line-height: 1.3;

  a {
    color: var(--accent-color);
  }
}

.footerTitle {
  font-weight: bold;
  margin: 0 0 10px;
  font-size: 18px;
}
