.button {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 0;
  white-space: nowrap;
  padding: 5px 10px 7px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0.25em;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  font-weight: 600;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  text-decoration: none;

  svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }

  &:hover {
    background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, 0.35);
  }
}
