.root {
  margin: rfs(140px) 0;
}

.intro {
  margin-bottom: rfs(70px);
  text-align: center;
}

.introTitle {
  font-family: var(--font-headline);
  line-height: 1.2;
  font-size: rfs(60px);
  margin-bottom: rfs(20px);
}

.picker {
  @media (width > 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

.personas {
  display: block;
  color: var(--base-body-color);
  text-decoration: none;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  transition: all 200ms ease-in-out;
  position: relative;
  padding: 30px;
  margin-bottom: 30px;

  &:hover {
    transform: translateY(-10px);
  }

  &:last-child {
    border-bottom-width: 0;
  }

  @media (width > 900px) {
    padding: 40px 50px 40px 150px;
    margin-bottom: 0px;
  }
}

.personasImage {
  width: 40px;
  margin-bottom: 20px;

  @media (width > 900px) {
    width: 60px;

    position: absolute;
    left: 50px;
  }
}

.personasTitle {
  font-weight: bold;
  font-size: rfs(25px);
  margin-bottom: 10px;
}

.personasBody {
  margin-bottom: 15px;
  font-size: 0.9em;
}

.personasLink {
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  color: var(--light-body-color);

  svg {
    height: 0.7em;
    margin-left: 10px;
    fill: var(--light-body-color);
  }
}
