.post {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 50px;
  overflow: hidden;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.postBody {
  padding: rfs(30px);
}

.title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: rfs(25px);
  letter-spacing: -0.04em;
}

.excerpt {
  font-size: 15px;
  line-height: 1.3;

  strong {
    font-weight: bold;
  }
}

.footer {
  font-size: 15px;
  color: var(--light-body-color);
}

.grid {
  display: flex;
  margin-left: rfs(-50px); /* gutter size offset */
  width: auto;
}

.column {
  padding-left: rfs(50px); /* gutter size */
  background-clip: padding-box;
}
