.hero {
  padding: rfs(80px) 0;
}

.heroTitle {
  font-family: var(--font-headline);
  font-size: rfs(70px);
  margin: 0;
  font-weight: bold;
  margin-bottom: rfs(40px);
  line-height: 0.9;
  letter-spacing: -0.02em;
}

@media screen and (width <= 1000px) {
  .hero {
    text-align: center;

    > img {
      width: 100%;
      max-width: 500px;
    }

    .heroBody {
      margin-bottom: rfs(80px);
    }
  }
}

@media screen and (width > 1000px) {
  .hero {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    grid-auto-columns: 1fr;
    align-items: center;
  }
}

.heroSubtitle {
  margin-bottom: rfs(20px);
}

.whyDifferent {
  display: flex;
  flex-direction: column;
  gap: rfs(50px);

  @media screen and (width > 750px) {
    flex-direction: row;
  }
}

.whyDifferentBlock {
  padding: rfs(40px);
  font-size: rfs(22px);
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--base-body-color);
  text-align: center;
}

.topicTake {
  font-size: rfs(17px);

  a {
    color: inherit;
  }

  p {
    margin: 0;
  }
}

@media screen and (width <= 700px) {
  .topicsHeading {
    display: none;
  }

  .topicDifference {
    margin-top: 40px;
  }

  .topicTake {
    margin-bottom: rfs(25px);
    padding: rfs(30px);
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--base-body-color);
    text-align: center;

    &:first-child {
      margin-right: 10vw;
    }

    &:last-child {
      margin-left: 10vw;
    }
  }

  .topicTakeProduct {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--extra-light-body-color);
  }
}

@media screen and (width > 700px) {
  .topics {
    position: relative;
  }

  .topicsHeading {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0)
    );
    padding-bottom: rfs(50px);

    @media screen and (width > 1125px) {
      top: 90px;
    }
  }

  .topicsHeadingInner {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    grid-auto-columns: 1fr;
    align-items: stretch;
  }

  .topicsHeadingTitle {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      padding: rfs(20px) rfs(30px);
      font-weight: bold;
      font-size: rfs(25px);
      letter-spacing: -0.03em;
      background: linear-gradient(45deg, #f9ecfe, #fefae4);
      border-radius: 10px;
    }
  }

  .topicDifferences {
    padding: rfs(30px);
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--base-body-color);
  }

  .topicDifference {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 50px;
    align-items: stretch;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .topicLines {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    grid-auto-columns: 1fr;
    align-items: stretch;
  }

  .topicsContent {
    position: relative;
  }

  .topicLines {
    position: absolute;
    inset: 0;
    top: rfs(-100px);
    bottom: 50px;
    z-index: -1;
  }

  .topicLine {
    display: flex;
    align-items: stretch;
    justify-content: center;

    &:before {
      content: '';
      width: 2px;
      background: var(--border-color);
    }
  }

  .topicTakeProduct {
    display: none;
  }
}

.topicName {
  font-size: rfs(20px);
  margin-bottom: rfs(25px);
  padding-top: rfs(60px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.03em;

  @media screen and (width > 700px) {
    color: var(--extra-light-body-color);
  }
}

.reasons {
  padding: rfs(130px) 0;
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  clip-path: var(--clip-path);
}

.reasonsList {
  list-style: none;
  counter-reset: item;
  padding: 0;
  margin: 0;

  @media screen and (width > 900px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 5vw;
  }
}

.reasonsTitle {
  font-family: var(--font-headline);
  font-size: rfs(60px);
  margin: 0;
  font-weight: bold;
  text-align: center;
  margin-bottom: rfs(40px);
}

.reason {
  position: relative;
  counter-increment: item;
  text-align: center;

  @media screen and (width <= 900px) {
    margin-top: rfs(100px);
  }

  &:before {
    content: counter(item);
    font-size: rfs(40px);
    width: rfs(80px);
    height: rfs(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--accent-color);
    color: #fefbe4;
    text-align: center;
    z-index: -1;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: rfs(30px);
  }
}

.reasonTitle {
  font-weight: bold;
  font-size: rfs(30px);
  line-height: 1.1;
  font-family: var(--font-headline);
}

.importerTitle {
  font-family: var(--font-headline);
  font-size: rfs(60px);
  margin: 0;
  font-weight: bold;
  align-items: center;
  padding: rfs(10px) 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  position: relative;
}

.importerSubtitle {
  margin: 20px auto 0;
  max-width: 800px;
  text-align: center;
  line-height: 1.3;
  font-size: rfs(24px);
  font-weight: normal;
  a {
    color: inherit;
  }
}

.importer {
  position: relative;
  margin: 150px 0px 200px 0px;

  &:before {
    content: '';
    display: block;
    background-color: #eee;
    width: 40vw;
    max-width: 600px;
    height: 25vw;
    max-height: 450px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
  }

  &:after {
    content: '';
    display: block;
    background-color: #eee;
    width: 40vw;
    max-width: 600px;
    height: 25vw;
    max-height: 450px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
  }
}
