.quotes {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.root {
  display: block;
  color: inherit;
  text-decoration: none;
  text-align: left;
  padding-top: 50px;
  position: relative;
  margin-top: 40px;

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: rfs(150px);
    line-height: 0.3;
    transform: translateX(-50%);
  }
}

.quotes:not(.quotesAnimated) {
  .root:nth-child(n + 2) {
    display: none;
  }

  @media screen and (width > 900px) {
    .root:nth-child(2) {
      display: block;
    }
  }

  @media screen and (width > 1350px) {
    .root:nth-child(3) {
      display: block;
    }
  }

  @media screen and (width > 1800px) {
    .root:nth-child(4) {
      display: block;
    }
  }
}

.quote {
  font-family: var(--font-serif);
  font-size: 24px;
  margin-bottom: 40px;
  letter-spacing: -0.03em;
  line-height: 1.4;
  text-align: center;

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.image {
  border-radius: 400px;
  width: 70px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  margin-right: 20px;
}

.name {
  font-weight: bold;
  font-size: 0.9em;
}

.role {
  font-size: 0.9em;
}

.authorRole {
  text-decoration: none;
  color: inherit;
  max-width: 240px;
}

a.authorRole:hover .name {
  text-decoration: underline;
}

.role {
  color: var(--light-body-color);
}

.company {
  color: var(--light-body-color);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.quote {
  width: min(450px, 90vw);
  padding: 0 30px;
}

.quotesInner {
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}

.quotesAnimated {
  justify-content: start;

  .quotesInner {
    animation: cambio calc(10s * var(--items-count)) infinite linear;

    @media screen and (width > 900px) {
      animation-duration: calc(6s * var(--items-count));
    }

    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes cambio {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(min(450px, 90vw) * -1 * var(--items-count)));
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
