@font-face {
  font-family: 'tiempos-headline';
  font-display: swap;
  src: url('/fonts/tiempos-headline-web-semibold.woff2') format('woff2'),
    url('/fonts/tiempos-headline-web-semibold.woff') format('woff');
}

@font-face {
  font-family: 'tiempos-text';
  font-display: swap;
  src: url('/fonts/tiempos-text-web-regular.woff2') format('woff2'),
    url('/fonts/tiempos-text-web-regular.woff') format('woff');
}

@font-face {
  font-family: 'tiempos-text';
  font-display: swap;
  font-style: italic;
  src: url('/fonts/tiempos-text-web-regular-italic.woff2') format('woff2'),
    url('/fonts/tiempos-text-web-regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'tiempos-text';
  font-display: swap;
  font-weight: bold;
  src: url('/fonts/tiempos-text-web-semibold.woff2') format('woff2'),
    url('/fonts/tiempos-text-web-semibold.woff') format('woff');
}

@font-face {
  font-family: 'tiempos-text';
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/tiempos-text-web-semibold-italic.woff2') format('woff2'),
    url('/fonts/tiempos-text-web-semibold-italic.woff') format('woff');
}

@font-face {
  font-family: 'colfax';
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/colfax-web-light.woff2') format('woff2'),
    url('/fonts/colfax-web-light.woff') format('woff');
}

@font-face {
  font-family: 'colfax';
  font-display: swap;
  src: url('/fonts/colfax-web-regular.woff2') format('woff2'),
    url('/fonts/colfax-web-regular.woff') format('woff');
}

@font-face {
  font-family: 'colfax';
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/colfax-web-bold.woff2') format('woff2'),
    url('/fonts/colfax-web-bold.woff') format('woff');
}
