@import './variables.css';
@import './font-faces.css';

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--base-body-color);
  font-family: var(--font-sans);
  font-size: rfs(18px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: white;
}

img,
video {
  max-width: 100%;
}

::-moz-selection {
  background: #f4cf58;
}
::selection {
  background: #f4cf58;
}
