@import './variables.css';
@import './font-faces.css';

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--base-body-color);
  font-family: var(--font-sans);
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: white;
}

img, video {
  max-width: 100%;
}

.preview {
  background-color: var(--light-bg-color);
  color: var(--light-body-color);
  position: fixed;
  bottom: 30px;
  right: 55px;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: 500px;
  box-shadow: var(--box-shadow);
  z-index: 10000;

  &:hover {
    opacity: 0.7;
  }
}