.preview {
  background-color: var(--light-bg-color);
  color: var(--light-body-color);
  position: fixed;
  bottom: 30px;
  right: 55px;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  z-index: 10000;

  &:hover {
    opacity: 0.7;
  }
}

.overlay {
  opacity: 0;
  pointer-events: none;
}

.cookies {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e9fcff;
  padding: 8px 30px 5px;
  text-align: center;

  a {
    color: inherit;
  }

  button {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    border: 0;
    font-family: inherit;
    background: none;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;

    svg {
      height: 18px !important;
      width: 18px !important;
      display: block;
    }
  }
}
