.benefits {
  @media (width > 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 40px;
  }
}

.benefit {
  margin-bottom: 10px;
  background: white;
  box-shadow: var(--box-shadow);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;

  @media (width > 900px) {
    padding: 50px;
  }
}

.benefitTitle {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.benefitContent {
  font-size: 17px;
  line-height: 1.4;

  a {
    color: var(--darker-accent-color);
  }
}

.steps {
  padding: 0;
  list-style: none;
  counter-reset: steps-counter;

  @media (width > 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      height: 15px;
      margin-top: -7px;
      background-image: linear-gradient(to right, #f4cf58 50%, transparent 50%);
      background-position: 0 0;
      background-repeat: repeat-x;
      background-size: 25px 15px;
      animation-name: MOVE-BG;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes MOVE-BG {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 0;
  }
}

.step {
  margin-bottom: 10px;
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: 500px;
  text-align: center;
  position: relative;
  counter-increment: steps-counter;

  @media (width <= 900px) {
    margin-top: 60px;
  }

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:after {
    content: counter(steps-counter);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    color: var(--azure-color);
  }
}

.stepMain {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.stepTitle {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.stepContent {
  font-size: 15px;
  color: var(--light-body-color);
  line-height: 1.1;
}

.form {
  max-width: 900px;
  margin: rfs(30px) auto;
  box-shadow: var(--box-shadow);
  background: white;

  @media (width > 700px) {
    border-radius: 7px;
    overflow: hidden;
    font-size: rfs(21px);
  }
}
