.copy {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  > svg {
    height: 15px;
    margin-right: 15px;
    display: none;
  }
}

.logo {
  max-height: 120px;
}

.video {
  margin: 0 0 rfs(200px);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  overflow: hidden;
  background: var(--base-body-color);

  video,
  mux-player {
    width: 100%;
    display: block;
  }
}

.websites {
  overflow: auto;
}

.websitesInner {
  text-align: center;
  white-space: nowrap;
  padding: 30px 0 100px var(--page-margin);
}

.website {
  display: inline-block;
  padding-right: 20px;
  flex: 1;
  min-width: 350px;
  max-width: 420px;
  text-align: left;

  &:last-child {
    padding-right: var(--page-margin);
  }
}

.websiteScreen {
  display: block !important;
}

.poweredBy {
  margin-bottom: rfs(-80px);
  margin-top: rfs(50px);
}

.poweredByTitle {
  font-size: rfs(17px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto rfs(20px);
  max-width: 700px;

  strong {
    color: #747b8f;
  }
}

.readMoreAbout {
  display: block;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-body-color) !important;
  letter-spacing: -0.02em;
  font-size: 0.95em;

  svg {
    display: inline-block;
    width: 2em;
    margin-left: 0.4em;
    fill: var(--light-body-color);
  }
}

a.readMoreAbout {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.image {
  width: 90%;
  display: block;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
}
