.body {
  font-size: rfs(21px);
  font-family: var(--font-serif);
  line-height: 1.6;
  letter-spacing: -0.02em;

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headline);
    font-size: 130%;
    line-height: 1.25;
    margin: rfs(70px) 0 rfs(40px);
  }

  h3 {
    font-size: 160%;
  }

  p,
  ul,
  ol {
    margin: 0 0 rfs(40px);
  }

  ul,
  ol {
    padding-left: rfs(40px);
  }

  li {
    margin: 0 0 5px;
  }

  figure {
    text-align: center;
    margin: rfs(80px) 0;
  }

  figcaption {
    color: var(--light-body-color);
    font-size: 0.8em;
    margin-top: 15px;
  }

  code {
    background-color: #f4f4f4;
    margin: 0 0.1em;
    padding: 0 0.25em;
    font-family: var(--font-mono);
    border-radius: 0.25em;
    font-size: 0.9em;
  }

  pre,
  .responsiveImage,
  .videoWrapper,
  img {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    box-shadow: var(--box-shadow);
  }

  .videoWrapper {
    overflow: hidden;
    video {
      display: block;
    }
  }

  pre {
    padding: rfs(30px);
    font-family: var(--font-mono);
    font-size: 0.8em;
    margin: rfs(40px) 0;
    width: 100%;
    tab-size: 2;
    overflow: auto;
    line-height: 1.3;
  }

  .responsiveImage {
    margin: 0 auto;
  }
}

.text,
.qa {
  max-width: 750px;
  margin: 0 auto;
}

.qa {
  margin: 50px auto;
}

.qaQuestion {
  color: var(--light-body-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.quote {
  text-align: left;
  padding-top: rfs(70px);
  position: relative;
  max-width: 800px;
  margin: rfs(50px) auto;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: rfs(60px);
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: rfs(200px);
    line-height: 0.3;
  }
}

.quoteQuote {
  font-family: var(--font-serif);
  font-size: rfs(35px);
  line-height: 1.2;
  margin-left: rfs(80px);
  color: #333;

  p,
  ul,
  ol {
    margin: 0 0 rfs(20px);
  }

  strong {
    background-image: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    font-weight: 600;
  }
}

.smallerQuote .quoteQuote {
  font-size: rfs(25px);
}

.demo {
  display: grid;
  max-width: 860px;
  grid-gap: rfs(60px);
  align-items: center;
  font-family: var(--font-sans);
  margin: rfs(80px) auto;
  font-size: rfs(18px);
  text-align: center;
  line-height: 1.3;

  @media (width > 800px) {
    grid-template-columns: 450px 1fr;
    text-align: left;
  }
}

.demoPreview {
  max-width: 450px;
  margin: 0 auto;
}

.techLogo {
  height: 25px;
  margin-top: 20px;
  box-shadow: none !important;
  height: 40px;
  display: block !important;
  margin: 20px auto 0;

  @media (width > 800px) {
    margin: 20px 0 0;
  }
}

.demoDesc {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 15px;
}

.demoTitle {
  font-size: rfs(30px);
  font-weight: bold;
  margin-bottom: 10px;
}

.demoDescBody {
  flex: 1;
}

.demoImage,
.pluginBoxImage {
  display: block !important;

  img {
    border-radius: 0 !important;
  }
}

.pluginBoxes {
  display: flex;
  padding: 40px 0 40px var(--page-margin);
  max-width: var(--page-width-with-margin);
  margin-left: calc(var(--page-margin) * -1);
  margin-right: calc(var(--page-margin) * -1);
  align-items: stretch;
  justify-content: center;
  font-family: var(--font-sans);
}

.pluginBoxContainer {
  padding-right: 30px;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  flex: 1;
  max-width: 400px;

  &:last-child {
    padding-right: var(--page-margin);
  }

  > a {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
}
