.body {
  font-size: rfs(21px);
  font-family: var(--font-serif);
  line-height: 1.6;
  letter-spacing: -0.02em;
  max-width: 750px;
  margin: 0 auto;

  a {
    color: inherit;
    word-wrap: break-word;

    &:hover {
      color: var(--accent-color);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
    font-size: 130%;
    line-height: 1.1;
    margin: rfs(70px) 0 rfs(30px);
    letter-spacing: -0.03em;
  }

  h2,
  h3 {
    font-size: 170%;
  }

  h4,
  h5,
  h6 {
    margin: rfs(50px) 0 rfs(20px);
  }

  p,
  ul,
  ol {
    margin: 0 0 rfs(40px);
    word-wrap: break-word;
  }

  ul,
  ol {
    padding-left: rfs(40px);
  }

  li {
    margin: 0 0 5px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  hr {
    margin: rfs(60px) 0;
    width: 90%;
    height: 1px;
    background: var(--border-color);
    border: 0;
  }

  figure {
    text-align: center;
    margin: rfs(80px) 0;
  }

  figcaption {
    color: var(--light-body-color);
    font-size: 0.8em;
    margin-top: 15px;
  }

  mark {
    background: transparent;
    background-image: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
  }

  code {
    background-color: #f4f4f4;
    margin: 0 0.1em;
    padding: 0 0.25em;
    font-family: var(--font-mono);
    border-radius: 0.25em;
    font-size: 0.9em;
    word-wrap: break-word;
  }

  pre,
  .responsiveImage,
  .videoWrapper,
  iframe,
  img {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    box-shadow: var(--box-shadow);
  }

  iframe {
    width: 100%;
    height: 60vh;
  }

  .videoWrapper {
    overflow: hidden;
    video {
      display: block;
    }
  }

  pre {
    padding: rfs(30px);
    font-family: var(--font-mono);
    font-size: 0.8em;
    margin: rfs(40px) 0;
    width: 100%;
    tab-size: 2;
    overflow: auto;
    line-height: 1.3;
  }

  .responsiveImage {
    margin: 0 auto;
  }
}

.qa {
  margin: 50px auto;
}

.unwrap {
  @media (width > 1100px) {
    margin-left: -80px;
    margin-right: -80px;
  }
}

.qaQuestion {
  color: var(--light-body-color);
  font-weight: bold;
  margin-bottom: 20px;

  p:last-child {
    margin-bottom: 0;
  }
}

.quote {
  text-align: left;
  padding-top: rfs(70px);
  position: relative;
  max-width: 800px;
  margin: rfs(50px) auto;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: rfs(60px);
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: rfs(200px);
    line-height: 0.3;
  }
}

.quoteQuote {
  font-family: var(--font-serif);
  font-size: rfs(35px);
  line-height: 1.2;
  margin-left: rfs(80px);
  color: #333;

  p,
  ul,
  ol {
    margin: 0 0 rfs(20px);
  }

  strong {
    background-image: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 88%;
    font-weight: 600;
  }
}

.quoteAuthor {
  margin-left: rfs(80px);
  font-style: italic;
  color: var(--light-body-color);

  &:before {
    content: '—';
    padding-right: 10px;
  }
}

.smallerQuote .quoteQuote {
  font-size: rfs(25px);
}

.demo {
  display: grid;
  max-width: 860px;
  grid-gap: rfs(60px);
  align-items: center;
  font-family: var(--font-sans);
  margin: rfs(80px) auto;
  font-size: rfs(18px);
  text-align: center;
  line-height: 1.3;

  @media (width > 800px) {
    grid-template-columns: 450px 1fr;
    text-align: left;
  }
}

.demoPreview {
  max-width: 450px;
  margin: 0 auto;
}

.techLogo {
  height: 25px;
  margin-top: 20px;
  box-shadow: none !important;
  height: 40px;
  display: block !important;
  margin: 20px auto 0;

  @media (width > 800px) {
    margin: 20px 0 0;
  }
}

.demoDesc {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 15px;
}

.demoTitle {
  font-size: rfs(30px);
  font-weight: bold;
  margin-bottom: 10px;
}

.demoDescBody {
  flex: 1;
}

.demoImage,
.pluginBoxImage {
  display: block !important;

  img {
    border-radius: 0 !important;
  }
}

.pluginBoxes {
  display: flex;
  padding-top: rfs(30px);
  padding-bottom: rfs(80px);
  padding-left: var(--page-margin);
  padding-right: 0;
  max-width: var(--page-width-with-margin);
  margin-left: calc(var(--page-margin) * -1);
  margin-right: calc(var(--page-margin) * -1);
  align-items: stretch;
  color: var(--base-body-color);
  overflow-x: auto;
  font-family: var(--font-sans);
  font-size: rfs(18px);
  align-items: stretch;

  img {
    border-radius: 0;
    display: block;
    box-shadow: none;
  }
}

.pluginBoxContainer {
  padding-right: 30px;
  display: flex;
  align-items: stretch;
  min-width: 350px;

  &:last-child {
    padding-right: var(--page-margin);
  }

  > a {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
}

.inDepth {
  margin: rfs(50px) 0;
  font-family: var(--font-sans);
  font-size: rfs(17px);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  top: 0;
  position: relative;
  background: linear-gradient(10deg, white, #f9ecfe);

  &:hover {
    color: inherit !important;
    top: -5px;
  }
}

.inDepthCta {
  font-size: 0.9em;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;

  svg {
    height: 0.7em;
    margin-left: 10px;
  }
}

.inDepthImage {
  display: none;
  margin-right: 30px;

  svg {
    height: 70px;
  }

  @media (width > 600px) {
    display: block;
  }
}

.inDepthDescription {
  line-height: 1.2em;
  color: var(--light-body-color);

  p,
  ul,
  ol {
    margin: 0 0 rfs(10px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.inDepthTitle {
  font-weight: bold;
}

.link {
  position: relative;
  display: block;
}

.lightbox {
  background-color: rgba(140, 140, 140, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  &:hover {
    .lightboxButton {
      background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
      background-position: -0.5em;
      border-color: rgba(27, 31, 35, 0.35);
    }
  }
}

.lightboxButton {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 0;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 0.25em;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  font-weight: 600;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  text-decoration: none;

  svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
}
