.root {
  margin: 0 calc(var(--page-margin) * -0.5);

  @media (width > 900px) {
    margin: 0;
  }
}

.container {
  width: 70wv;
  margin: 0 5px;

  @media (width > 900px) {
    width: 100%;
    margin: 0 rfs(40px);
  }
}

.window {
  box-shadow: var(--box-shadow);
  background: #e2e3e5;
  border-radius: 3px 3px 0 0;
}

.windowBar {
  position: relative;
  height: 2vw;
  max-height: 30px;
  padding: 0.2vw 0.5vw;
  display: flex;
  align-items: center;

  &:before,
  &:after,
  div {
    content: '';
    width: 0.7vw;
    height: 0.7vw;
    max-width: 12px;
    max-height: 12px;
    border-radius: 50%;
    margin-right: 0.3vw;
  }

  &:before {
    background: #f6615a;
  }

  div {
    background: #f9bf2f;
  }

  &:after {
    background: #3bce41;
  }
}

.progress {
  height: 4px;
  width: 0;
}

.browserBar {
  height: 1.8vw;
  background: #f0f1f2;
  border-bottom: 1px solid var(--border-color);
  padding: 0.2vw;
  display: flex;
  align-items: center;

  &:before,
  &:after {
    content: '';
    background: #dedede;
    width: 1vw;
    height: 1vw;
    border-radius: 3px;
    margin: 0 0.3vw;
  }
}

.addressBar {
  background: white;
  border-radius: 3px;
  flex: 1;
  height: 1vw;
}

.page {
  height: 650px;
  position: relative;
  overflow: hidden;
  display: block;
  background: white;
  padding: 30px;
}

.post {
  height: 220px;
  transition: height 200ms ease-in-out, opacity 200ms 200ms ease-in-out;
}

.postEnter {
  height: 0;
  opacity: 0;
}

.postEnterActive {
  height: 220px;
  opacity: 1;
}

.postLeave {
  top: 170px;
}

.postLeaveActive {
  top: 0;
}

.copy {
  height: 0.4vw;
  min-height: 5px;
  background: #ddd;
  margin-bottom: 0.2vw;
}

.image {
  transition: all 0.01s linear;
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  background-size: cover;
  margin-bottom: 10px;

  &:before {
    content: '';
    display: block;
    padding-top: 40%;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
  }
}
