.root {
  width: 830px;
  padding: 15vh 0;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.over {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--light-body-color);
  text-transform: uppercase;
}

.title {
  font-family: var(--font-headline);
  font-size: 70px;
}

.subtitle {
  font-size: 25px;
  margin-top: 60px;
}

.children {
  margin-top: 60px;
}