.root {
  width: 1000px;
  padding: 15vh 0;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.over {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.title {
  font-family: var(--font-headline);
  font-size: 80px;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 25px;
  padding: 0 10vw;
  margin: 60px auto 0 auto;
}

.children {
  margin-top: 60px;
}