.root {
  width: 1000px;
  padding: rfs(150px) 0;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.kicker {
  font-size: rfs(20px);
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.title {
  font-family: var(--font-headline);
  font-size: rfs(80px);
  letter-spacing: -0.02em;
  line-height: 1.1;
}

.subtitle {
  font-size: rfs(22px);
  margin: 60px auto 0 auto;
  max-width: 700px;
}

.children {
  margin-top: 60px;
  text-align: center;
}
