.hero {
  padding-bottom: rfs(80px);
  text-align: center;
}

.heroTitle {
  font-size: rfs(64px);
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 0.125em;
}

.heroDesc {
  font-size: rfs(21px);
  font-weight: 500;
}

.community {
  display: grid;
  gap: rfs(40px) 30px;
  grid-template-columns: 1fr;
  margin-top: 50px;
}

@media screen and (width > 640px) {
  .community {
    grid-template-columns: 1fr 1fr;
  }
}

.firstPartyStarters {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 60px 0 20px 0;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 120px 0 40px 0;
  }

  &:before {
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    bottom: 0;
    clip-path: var(--clip-path);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: -1;
  }
}

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 80px;
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  width: 100%;
}

.fullFledged {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  max-width: var(--page-width-with-margin);
}

@media screen and (min-width: 520px) {
  .fullFledged {
    grid-template-columns: 1fr 1fr;
  }
}

.techStarters {
  display: grid;
  gap: 30px;
  grid-auto-rows: max-content; /* grid-auto-rows: 1fr */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.intro {
  display: block;

  & > * {
    max-width: 860px;
  }
}