.hero {
  padding-bottom: rfs(80px);
  text-align: center;
}

.heroTitle {
  font-size: rfs(80px);
  color: var(--body-color);
  font-family: var(--font-headline);
  font-weight: 500;
  margin-bottom: 0.25em;
}

.heroDesc {
  font-size: rfs(21px);
  font-weight: 500;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: rfs(80px);
}

.searchInput {
  border: 1px solid var(--border-color);
  border-radius: 100px;
  padding: 10px 30px;
  font-size: inherit;
  font-family: inherit;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    border-color: #999;
  }
}

.loading,
.noResults {
  padding-top: rfs(50px);
  padding-bottom: rfs(50px);
  text-align: center;
  font-size: 30px;
  color: var(--light-body-color);
}

.community {
  display: grid;
  gap: rfs(40px) 30px;
  grid-template-columns: 1fr;
  margin-top: 50px;
}

@media screen and (width > 640px) {
  .community {
    grid-template-columns: 1fr 1fr;
  }
}

.firstPartyStarters {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 60px 0 20px 0;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 120px 0 40px 0;
  }

  &:before {
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    bottom: 0;
    clip-path: var(--clip-path);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: -1;
  }
}

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 80px;
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  width: 100%;
}

.fullFledged {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  max-width: var(--page-width-with-margin);
}

@media screen and (min-width: 520px) {
  .fullFledged {
    grid-template-columns: 1fr 1fr;
  }
}

.techStarters {
  display: grid;
  gap: 30px;
  grid-auto-rows: max-content; /* grid-auto-rows: 1fr */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.intro {
  display: block;

  & > * {
    max-width: 860px;
  }
}