@media (width > 900px) {
  .root {
    position: relative;
    --half: 50vw;
    height: 80vh;
  }

  .box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    clip-path: polygon(
      calc(var(--half) + 3vw) 0,
      100% 0,
      100% 100%,
      calc(var(--half) - 3vw) 100%
    );
  }

  .boxImage {
    clip-path: polygon(
      calc(var(--half) + 3vw) 3vh,
      100% 0,
      100% 100%,
      calc(var(--half) - 3vw) 93%
    );
    background: var(--gradient2);
  }

  .boxText,
  .boxCut {
    color: white;
    z-index: 10;
  }

  .boxCut {
    color: var(--gradient2);
    clip-path: polygon(
      0 0,
      calc(var(--half) + 3vw) 0,
      calc(var(--half) - 3vw) 100%,
      0 100%
    );
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100vw - var(--half) + 3vw);
    background-size: cover;
    z-index: -1;
  }

  .boxInner {
    width: 100vw;
  }

  .inner {
    width: 70%;
    max-width: 750px;
  }
}

@media (width <= 900px) {
  .root {
    margin: rfs(150px) 0;
  }

  .boxText {
    display: none;
  }

  .boxCut {
    color: var(--gradient2);
  }

  .image {
    background-size: cover;
    margin-top: rfs(80px);
    clip-path: var(--clip-path);

    &:before {
      content: '';
      padding-top: 60%;
      display: block;
    }
  }
}

.kicker {
  margin-bottom: rfs(60px);
  display: flex;
  align-items: center;
  color: var(--base-body-color);

  img,
  svg {
    height: rfs(30px);
    flex-shrink: 0;
  }
}

.plus {
  font-size: 30px;
  line-height: 1;
  margin: 0 25px;
}

.title {
  font-size: rfs(84px);
  line-height: 1;
  margin-bottom: rfs(30px);
  font-weight: 600;
  letter-spacing: -0.03em;
  background-clip: text;
}

.cta {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--useCaseAccent);
  text-decoration: none;
  transition: all 200ms ease-in-out;

  &:hover {
    margin-left: 10px;
  }

  svg {
    height: 0.7em;
    margin-left: 10px;
    fill: var(--useCaseAccent);
    display: inline;
    vertical-align: middle;
  }
}
