.tutorials {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tutorial {
  display: block;
  color: inherit;
  text-decoration: none;
}

.tutorialTitle {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.tutorial:hover .tutorialTitle {
  text-decoration: underline;
}

.tutorialCover {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  border: 3px solid white;

  img {
    display: block;
  }
}
