.video {
  margin: 0 0 rfs(200px);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  overflow: hidden;
  background: var(--base-body-color);

  video,
  mux-player {
    width: 100%;
    display: block;
  }
}

.frames {
  display: grid;
  grid-gap: rfs(30px);
  grid-template-rows: 1fr;

  @media (width > 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.frame {
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  overflow: hidden;
  background: white;
  color: var(--extra-light-body-color);

  img {
    display: block;
  }

  @media (width <= 900px) {
    &:nth-child(2n) {
      display: none;
    }
  }
}

.frameLabel {
  padding: 10px;
  font-family: var(--font-mono);
  font-size: 13px;
}

.paramName {
  color: #204588;
}

.paramValue {
  color: var(--base-body-color);
}
