.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: center;
  }
}

.testimonialsContainer {
  -ms-overflow-style: none;
  display: flex;
  gap: 50px;
  margin-top: rfs(-80px);
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.testimonials {
  margin-top: rfs(80px);
  margin-bottom: rfs(-130px);
}

.testimonialsContainer > * {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  animation: scroll 30s linear infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.title,
.featureSectionTitle  {
  font-family: var(--font-headline);
  font-size: rfs(50px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1;
  text-align: center;
  
  @media screen and (min-width: 800px) {
    font-size: rfs(60px);
    max-width: 70%;
  }
}

.title {
  margin: rfs(100px) auto 20px auto;
}

.featureSectionTitle {
  margin: rfs(100px) auto;
}

.pillarIcon {
  margin-right: 1rem;
}

.featuresContainers {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(1, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin: rfs(120px) auto 0 auto;
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  text-align: center;

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  
  @media screen and (min-width: 860px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  font-size: rfs(20px);
}

.featureTitle {
  margin-block-start: 0;
  margin-block-end: 0;
}

.root {
  margin: rfs(200px) auto;
  padding-top: rfs(40px);
  position: relative;

  &:before {
    color: var(--accent-color);
    content: '\201C';
    font-family: var(--font-serif);
    font-size: rfs(150px);
    left: 50%;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-25%);
  }
}

.quote {
  font-family: var(--font-serif);
  font-size: rfs(24px);
  letter-spacing: -0.03em;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
  width: rfs(500px);
  
  @media screen and (min-width: 800px) {
    font-size: rfs(30px);
  }

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.image {
  border-radius: 50%;
  height: 80px;
  margin: 0 auto 20px auto;
  width: 80px;

  @media screen and (min-width: 700px) {
    margin: 0 40px 0 0;
  }
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;

  @media screen and (min-width: 800px) {
    font-size: rfs(1em);
  }
}

.content {
  text-align: center;

  @media screen and (min-width: 700px) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
  }
}

.authorRole {
  color: inherit;
  text-decoration: none;

  @media screen and (min-width: 700px) {
    max-width: 250px;
  }
}

a.authorRole:hover .name {
  text-decoration: underline;
}

.role {
  color: var(--light-body-color);
  font-size: 0.8em;

  @media screen and (min-width: 800px) {
    font-size: 1em;
  }
}

.flagTitle {
  align-items: center;
  display: flex;
  font-size: rfs(35px);
  gap: 12px;
  justify-content: center;

  @media screen and (min-width: 800px) {
    justify-content: flex-start;
  }
}

.customFooter {
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  clip-path: var(--clip-path);
  margin-top: rfs(120px);
  padding: rfs(100px) 0;
}

.customFooterInner {
  margin: rfs(40px) auto;
  text-align: center;

  @media screen and (min-width: 800px) {
    max-width: 70%;
  }
}

.footerTitle {
  font-family: var(--font-headline);
  font-size: rfs(40px);
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1;
}
