.root {
  background-image: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  font-weight: inherit;
}
