.neutral {
  background-image: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 88%;
  font-weight: inherit;
}

.good {
  composes: neutral;
  background-image: linear-gradient(120deg, #c6ffc2 0%, #c6ffc2 100%);
}

.bad {
  composes: neutral;
  background-image: linear-gradient(120deg, #fac2c2 0%, #fac2c2 100%);
}

.warning {
  composes: neutral;
  background-image: linear-gradient(120deg, #fdf4c2 0%, #fdf4c2 100%);
}
