.form {
  max-width: 450px;
  margin: 0 auto;
  position: relative;

  input {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--border-color);
    font-family: inherit;
    font-size: 18px;
    box-sizing: border-box;
    appearance: none;
    border-radius: 5px;
    text-align: center;
    transition: all 100ms ease-in-out;

    &:focus {
      border-color: var(--extra-light-body-color);
    }
  }

  button {
    margin-top: 5px;
  }
}

.error {
  position: absolute;
  box-shadow: var(--box-shadow);
  padding: 15px 25px;
  background: white;
  border-radius: 5px;
  bottom: 100%;
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  white-space: nowrap;
}

.stats,
.info {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;

  strong {
    font-weight: 500;
  }
}

.info {
  color: var(--light-body-color);

  a {
    color: inherit;
  }
}
