.picker {
  max-width: 600px;
  margin: 0 auto;
}

.topic {
  margin-bottom: rfs(50px);
}

.topicLabel {
  margin: 0;
}

.topicSelect {
  display: block;
  border: 0;
  margin: 0;
  padding: 15px 30px 15px 0;
  font-family: inherit;
  font-size: rfs(30px);
  display: block;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-serif);
  background-color: white;
  background-image: url('../../public/icons/regular/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: rfs(30px);
  color: inherit;

  &:focus {
    outline: none;
  }

  option {
    font-family: var(--font-sans);
    font-size: 25px;
  }
}

.description {
  padding: rfs(50px);
  font-family: var(--font-serif);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  max-width: 700px;
  margin: 0 calc(var(--page-margin) * -0.5);
  font-size: rfs(18px);
  line-height: 1.4;

  @media (width > 900px) {
    line-height: 1.6;
    margin: 0 auto;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 130%;
    line-height: 1;
    margin: 40px 0 15px;
    font-family: var(--font-headline);

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 160%;
  }

  p,
  ul,
  ol {
    margin: 0 0 15px;
  }

  ul,
  ol {
    padding-left: rfs(40px);
  }

  li {
    margin: 0 0 5px;
  }

  figure {
    text-align: center;
    margin: 50px 0;
  }

  figcaption {
    color: var(--light-body-color);
    font-size: 0.8em;
    margin-top: 15px;
  }

  code {
    background-color: #f4f4f4;
    margin: 0 0.1em;
    padding: 0 0.25em;
    font-family: var(--font-mono);
    border-radius: 0.25em;
    font-size: 0.9em;
  }

  pre,
  img {
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    box-shadow: var(--box-shadow);
  }

  pre {
    padding: 30px;
    font-family: var(--font-mono);
    font-size: 0.8em;
    margin: 30px 0;
    width: 100%;
    overflow: auto;
    tab-size: 2;
    line-height: 1.3;
  }

  .responsiveImage {
    margin: 0 auto;
  }
}

.form {
  margin-left: calc(var(--page-margin) * -0.5);
  margin-right: calc(var(--page-margin) * -0.5);

  @media (width > 900px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.talkWithUs {
  padding: rfs(100px) 0;
}

.talkWithUsInner {
  max-width: 600px;
  margin: 0 auto;
}

.talkWithUsIntro {
  margin-bottom: rfs(60px);
  text-align: center;
}

.talkWithUsTitle {
  font-family: var(--font-headline);
  line-height: 1.2;
  font-size: rfs(60px);
  margin-bottom: rfs(40px);
}

.root {
  min-height: rfs(800px);
}

.footer {
  margin-top: rfs(200px);
}
