.bullet {
  margin-bottom: 12px;
  align-items: center;
  font-weight: bold;
  font-size: 17px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (width > 650px) {
    display: flex;
    align-items: flex-start;

    span {
      flex: 1;
    }
  }
}

.icon {
  width: 30px;
  height: 1.3em;
  display: block;
  margin: 0 auto 2px;

  @media screen and (width > 650px) {
    display: flex;
    align-items: center;
  }
}

.bad {
  composes: icon;
  fill: var(--accent-color);
}

.good {
  composes: icon;
  fill: var(--azure-color);
}
