.bullet {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 17px;

  span {
    flex: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  width: 30px;
  display: flex;
  align-items: center;
}

.bad {
  composes: icon;
  fill: var(--accent-color);
}

.good {
  composes: icon;
  fill: var(--azure-color);
}