.bullet {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon {
  margin-right: 1em;
}

.bad {
  composes: icon;
  fill: var(--accent-color);
}

.good {
  composes: icon;
  fill: var(--azure-color);
}