.root {
  padding: 160px 0 130px;
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  clip-path: var(--clip-path);
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 5vw;
  grid-row-gap: 100px;
}

.title {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 25px;
}

.mainStory {
  color: inherit;
  text-decoration: none;
  display: block;
  grid-column: 2 / 4;
}

.mainStory,
.otherUseCase {
  transition: all 150ms ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}

.mainStoryTitle {
  font-family: var(--font-headline);
  font-size: 70px;
  line-height: 1;
}

.otherUseCase {
  flex: 1;
  color: inherit;
  text-decoration: none;
  display: block;
  line-height: 1.3;
  position: relative;

  &:after {
    content: '';
    width: 1px;
    background: #888;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 2.5vw);
  }

  &:last-child:after {
    display: hidden;
  }
}

.otherUseCaseTitle {
  font-family: var(--font-serif);
  font-size: 30px;
}

.mainStoryLogo,
.otherStoryLogo {
  img {
    opacity: 0.78;
    height: 30px;
    width: 200px;
    object-fit: contain;
    object-position: left center;
  }
}

.mainStoryLogo {
  margin-bottom: 30px;
}

.otherStoryLogo {
  margin-bottom: 20px;
}

.goto {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;

  svg {
    height: 0.7em;
    margin-left: 10px;
  }
}
