.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 14px;
}

.body {
  padding: 40px 30px;
  background: #f3f3f3;
}

.fieldInner {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 10px;
  transition: all 400ms ease-in-out;
}

.fieldInnerHidden {
  opacity: 0;
  transform: translateX(-20px);
}

.fieldDrag {
  position: relative;
  margin-right: 10px;

  &,
  &:before,
  &:after {
    content: '';
    background: var(--extra-light-body-color);
    width: 15px;
    height: 2px;
    display: block;
  }

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    top: -4px;
  }

  &:after {
    bottom: -4px;
  }
}

.fieldBox {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex: 1;

  &:before {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 30px;
    background: var(--extra-light-body-color);
    vertical-align: middle;
    margin-right: 5px;
  }
}

.fieldName {
  font-weight: bold;
}

.fieldType {
  font-family: var(--font-mono);
  margin-left: 10px;
  color: var(--extra-light-body-color);
  font-size: 0.9em;
}

.blocks {
  margin-left: 30px;
  display: block;

  .fieldInner:nth-child(1) .fieldBox:before {
    background: #2f6ff8;
  }

  .fieldInner:nth-child(2) .fieldBox:before {
    background: #7826ce;
  }

  .fieldInner:nth-child(3) .fieldBox:before {
    background: #f50580;
  }

  .fieldInner:nth-child(4) .fieldBox:before {
    background: #f35650;
  }

  .fieldInner:nth-child(5) .fieldBox:before {
    background: #efa700;
  }
}
