.mt1 {
  margin-top: rfs(50px);
}
.mt2 {
  margin-top: rfs(100px);
}
.mt3 {
  margin-top: rfs(150px);
}
.mt4 {
  margin-top: rfs(200px);
}
.mb1 {
  margin-bottom: rfs(50px);
}
.mb2 {
  margin-bottom: rfs(100px);
}
.mb3 {
  margin-bottom: rfs(150px);
}
.mb4 {
  margin-bottom: rfs(200px);
}
