.post {
  margin-bottom: rfs(120px);
  text-decoration: none;
  color: inherit;
  display: block;
}

.postImage {
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  width: 80%;
  transition: all 150ms ease-in-out;

  .post:hover & {
    transform: translateY(-5%) scale(110%);
  }
}

.postTitle {
  font-size: rfs(55px);
  line-height: 1;
  font-family: var(--font-serif);
  margin-bottom: rfs(30px);

  @media (width > 600px) {
    font-family: var(--font-headline);
    font-weight: bold;
  }
}

.postLogo {
  height: rfs(40px);
}

.postBody {
  padding-left: 20%;
}
