.root {
  padding: rfs(50px) 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  position: relative;
}

.one {
  position: relative;

  &:before {
    content: '';
    display: block;
    background-color: #eee;
    width: 60vw;
    max-width: 600px;
    height: 30vw;
    max-height: 200px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(0deg, -10deg);
    background: linear-gradient(45deg, #f9ecfe, #fefae4);
  }
}

.two {
  position: relative;

  &:before {
    content: '';
    display: block;
    background-color: #eee;
    width: 40vw;
    max-width: 400px;
    height: 25vw;
    max-height: 200px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
  }

  &:after {
    content: '';
    display: block;
    background-color: #eee;
    width: 40vw;
    max-width: 400px;
    height: 25vw;
    max-height: 200px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
  }
}

.kicker,
.subtitle {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  font-family: var(--font-headline);
  font-size: rfs(60px);
  line-height: 1.1;
  margin: 0;
  font-weight: bold;
  align-items: center;
  text-wrap: balance;
}

.kicker {
  margin-bottom: rfs(60px);
}

.subtitle {
  margin-top: rfs(60px);
}

.bigSubtitle {
  text-align: center;
  font-size: rfs(27px);
  max-width: 700px;
  margin: 0 auto;
  font-weight: bold;
}

.three {
  position: relative;

  &:before {
    content: '';
    display: block;
    background-color: #eee;
    width: 50vw;
    max-width: 600px;
    height: 10vw;
    min-height: 80px;
    max-height: 160px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(0deg, -10deg);
    background: linear-gradient(45deg, #f9ecfe, #fefae4);
  }
}
