.root {
  padding: 10vh 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  position: relative;
}

.one {
  composes: root;

  &:before {
    content: '';
    display: block;
    background-color: #eee;
    width: 60vw;
    max-width: 600px;
    height: 30vh;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #f9ecfe, #fefae4);
  }
}

.two {
  composes: root;

  &:before {
    content: '';
    display: block;
    background-color: #eee;
    width: 25vw;
    max-width: 600px;
    height: 25vh;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
  }

  &:after {
    content: '';
    display: block;
    background-color: #eee;
    width: 25vw;
    max-width: 600px;
    height: 25vh;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%) skew(0deg, -15deg);
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
  }
}

.kicker,
.subtitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.title {
  font-family: var(--font-headline);
  font-size: 60px;
  align-items: center;
}

.kicker {
  margin-bottom: 60px;
}

.subtitle {
  margin-top: 60px;
}
