.root {
  margin: 0 auto;
  max-width: 800px;
  padding: rfs(50px) 0;
  position: relative;
  text-align: center;
}

.one {
  position: relative;

  &:before {
    background-color: #eee;
    background: linear-gradient(45deg, #f9ecfe, #fefae4);
    content: '';
    display: block;
    height: 30vw;
    left: 50%;
    max-height: 200px;
    max-width: 600px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) skew(0deg, -10deg);
    width: 60vw;
    z-index: -1;
  }
}

.two {
  position: relative;

  &:before,
  &:after {
    background-color: #eee;
    background: linear-gradient(45deg, #fefae4, #f9ecfe);
    content: '';
    display: block;
    height: 25vw;
    left: 50%;
    max-height: 200px;
    max-width: 400px;
    position: absolute;
    top: 50%;
    width: 40vw;
    z-index: -1;
  }

  &:before {
    transform: translate(-20%, -50%) skew(0deg, -15deg);

  }

  &:after {
    transform: translate(-80%, -50%) skew(0deg, -15deg);
  }
}

.kicker,
.subtitle {
  color: var(--extra-light-body-color);
  font-size: rfs(20px);
  font-weight: bold;
  text-transform: uppercase;
  word-break: break-word;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  align-items: center;
  font-family: var(--font-headline);
  font-size: rfs(60px);
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  text-wrap: balance;
}

.kicker {
  margin-bottom: rfs(60px);
}

.subtitle {
  margin-top: rfs(60px);
}

.bigSubtitle {
  font-size: rfs(27px);
  font-weight: bold;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  word-break: break-word;
}

.three {
  position: relative;

  &:before {
    background-color: #eee;
    background: linear-gradient(45deg, #f9ecfe, #fefae4);
    content: '';
    display: block;
    height: 10vw;
    left: 50%;
    max-height: 160px;
    max-width: 600px;
    min-height: 80px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) skew(0deg, -10deg);
    width: 50vw;
    z-index: -1;
  }
}
