.root {
  margin: rfs(150px) 0;
  --dotBaseUnit: 70px;
}

.root {
  text-align: center;

  @media screen and (width > 650px) {
    display: grid;
    text-align: center;
    grid-template-columns: 45% 1fr;
    grid-column-gap: 10%;
    align-items: center;
    --dotBaseUnit: 120px;
  }
}

.imageContainer {
  position: relative;
}

.image {
  margin-bottom: 40px;
  text-align: left;

  @media screen and (width > 650px) {
    margin-bottom: 0;
  }

  > svg,
  > img {
    display: block;
    margin: 0 auto;

    @media screen and (width < 650px) {
      width: 50vw;
    }

    @media screen and (width >= 650px) {
      width: 100%;
      height: 50vh;
      min-height: 100%;
    }
  }
}

.neutralDot {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 1000px;
  animation: move 2s infinite alternate ease-in-out;
}

@keyframes move {
  0% {
    transform: perspective(500px) rotateX(-3deg) translateZ(-500px);
  }

  100% {
    transform: perspective(500px) rotateX(3deg) translateZ(-500px);
  }
}

.goodDot {
  composes: neutralDot;
  background: linear-gradient(#c3f4fa, #9be0e8);
}

.badDot {
  composes: neutralDot;
  background: linear-gradient(#fca597, #f78a79);
}

.content {
  @media screen and (width > 650px) {
    text-align: left;
  }

  p {
    margin: 0;
    margin-bottom: rfs(40px);
  }

  a {
    color: inherit;
  }
}

.title {
  font-size: rfs(45px);
  font-weight: bold;
  margin-bottom: rfs(30px);
  line-height: 1;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: rfs(25px);
  font-weight: bold;
  margin-bottom: rfs(20px);
  margin-top: rfs(50px);
}

.body {
  line-height: 1.4;

  @media screen and (width > 1000px) {
    padding-right: 50px;
  }
}

.goodHighlight {
  color: var(--azure-color);
}

.badHighlight {
  color: var(--accent-color);
}

.badRoot {
  .content a {
    &:hover {
      color: var(--accent-color);
    }
  }
}

.goodRoot {
  .content a {
    &:hover {
      color: var(--azure-color);
    }
  }
}
