.root {
  margin: 15vh 0;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-column-gap: 10%;
  align-items: center;
}

.image {
  flex: 1;

  svg {
    height: 50vh;
    width: 100%;
  }
}

.content {
  flex: 1;
  font-size: 0.9em;

  p {
    margin-bottom: 20px;
  }
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.body {
  line-height: 1.4;
  padding-right: 8vw;
}