.root {
  margin: 15vh 0;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-column-gap: 10%;
  align-items: center;
}

.imageContainer {
  position: relative;
}

.image {
  > svg {
    height: 50vh;
    min-height: 100%;
    width: 100%;
  }
}

.neutralDot {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 100vh;
}

.goodDot {
  composes: neutralDot;
  background: var(--azure-color);
}

.badDot {
  composes: neutralDot;
  background: var(--accent-color);
}

.content {
  font-size: 0.9em;

  p {
    margin-bottom: 40px;
  }
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

.body {
  line-height: 1.4;
  padding-right: 50px;
}

.goodHighlight {
  color: var(--azure-color);
}

.badHighlight {
  color: var(--accent-color);
}
