.root {
  padding: 160px 0 130px;
  background: linear-gradient(45deg, #fefbe4, #fdf0eb);
  clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 4vw), 0 100%);
}

.firstRow {
  display: flex;
}

.title {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 25px;
  margin-right: 200px;
}

.mainStory {
  flex: 1;
}

.mainStoryTitle {
  font-family: var(--font-headline);
  font-size: 70px;
}

.otherUseCases {
  margin-top: 100px;
  columns: 3 150px;
  column-rule: 1px solid #979797;
  column-gap: 150px;
}

.otherUseCase {
  flex: 1;
}

.otherUseCaseTitle {
  font-family: var(--font-serif);
  font-size: 30px;
}