.body {
  font-size: rfs(18px);
  font-family: var(--font-serif);
  line-height: 1.6;
  letter-spacing: -0.02em;
  max-width: 750px;
  margin: 0 auto;

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headline);
    font-size: 130%;
    line-height: 1.25;
    margin: rfs(40px) 0 rfs(20px);
    font-weight: bold;
  }

  h1,
  h2 {
    font-size: 160%;
  }

  p,
  ul,
  ol {
    margin: 0 0 rfs(20px);
  }

  ul,
  ol {
    padding-left: rfs(40px);
  }

  li {
    margin: 0 0 2px;
  }

  br {
    display: block;
    content: '';
    margin-top: 5px;
  }

  hr {
    margin: 60px 0;
    width: 90%;
    height: 1px;
    background: var(--border-color);
    border: 0;
  }

  img {
    margin: rfs(50px) 0;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    overflow: hidden;
  }
}

.body :global(.for_boxes) {
  padding-left: 0;
  li {
    list-style-type: none;
  }
  h4 {
    margin-bottom: 10px;
  }
}
.body :global(.expand-content) {
  font-size: 0.8em;
  font-family: var(--font-sans);

  p {
    margin-bottom: 5px;
  }

  h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  a {
    font-size: inherit;
  }
}

.body :global(.iub_footer) {
  display: none;
}

.body :global(.box_primary) {
  padding: rfs(30px);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: rfs(50px) 0;
}
