.footerBg {
  ::-moz-selection {
    background: var(--accent-color);
  }
  ::selection {
    background: var(--accent-color);
  }
}

.cta {
  position: relative;
  margin-top: rfs(150px);

  &:before {
    content: '';
    background: var(--dark-bg-color);
    clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    bottom: 0;
    z-index: -1;
  }
}

.noCta {
  margin-top: rfs(150px);
  padding-top: rfs(50px);
  clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 100%);
  background: var(--dark-bg-color);
}

.footerInnerRoot {
  padding-bottom: rfs(60px);
}

.footerRoot {
  color: white;
  padding: rfs(60px) 0 0;
  text-align: center;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (width > 900px) {
    text-align: left;
  }
}

.cols {
  @media (width > 900px) {
    display: flex;
  }
}

.col {
  margin-bottom: rfs(40px);

  &:last-child {
    margin-bottom: 0;
  }

  @media (width > 900px) {
    margin-bottom: 0;
    margin-right: 30px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}

.group,
.monoLink {
  margin-bottom: rfs(30px);

  &:last-child {
    margin-bottom: 0;
  }
}

.groupLinks {
  line-height: 1.7;
  font-size: 0.9em;
}

.groupTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.monoLink {
  font-weight: bold;
  margin-bottom: 20px;
}

.finalFooter {
  background: #13151b;
  padding: rfs(50px) 0;
  color: #ddd;
  text-align: center;

  a {
    color: #ddd;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (width > 900px) {
    text-align: left;
  }
}

.finalLinks {
  @media (width > 900px) {
    display: flex;
    justify-content: center;
  }
}

.finalLink {
  display: block;
  font-size: 0.9em;

  @media (width > 900px) {
    font-size: 1em;
    margin: 0 30px;
  }
}

.finalLine {
  margin-top: 30px;
  font-size: 0.8em;
  line-height: 1.4;

  a,
  span {
    display: block;
  }

  @media (width > 900px) {
    text-align: center;

    a,
    span {
      display: inline;
      &:after {
        content: ' —';
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}

.message {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.newsletter {
  padding-bottom: rfs(80px);

  @media (width > 900px) {
    display: flex;
    align-items: flex-end;
  }
}

.newsletterTitle {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: rfs(30px);
}

.newsletterBody {
  flex: 1;

  @media (width > 900px) {
    margin-right: 60px;
  }
}

.newsletterDescription {
  font-size: 0.9em;
}

.formContainer {
  margin-top: 15px;
  position: relative;

  @media (width > 900px) {
    margin-top: 0px;
  }
}

.formMessage {
  margin-top: 10px;
  font-size: 0.8em;

  @media (width > 900px) {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.form {
  display: flex;
  margin: 0 auto;
  max-width: 370px;

  @media (width > 900px) {
    margin: 0;
  }

  input {
    padding: 13px 15px;
    border: 1px solid var(--border-color);
    border-right: none;
    font-family: inherit;
    font-size: 18px;
    box-sizing: border-box;
    appearance: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 100ms ease-in-out;
    min-width: 30%;

    &:focus {
      outline: none;
    }
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.isNew {
  background: white;
  border-radius: 3px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 0.6em;
  padding: 0.2em 0.4em 0.1em;
  margin-left: 0.2em;
  font-weight: bold;
  color: var(--dark-bg-color);
}
