.sectionWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.section {
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  width: 100%;
}

.sectionHeader {
  align-items: flex-end;
  border-bottom: 1px solid var(--light-body-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-bottom: 30px;
}

.headerTitle {
  font-family: var(--font-headline);
  color: var(--body-color);
  font-size: rfs(64px);
  font-weight: 500;
  margin: 0;
}

.headerViewAll {
  align-items: center;
  color: var(--accent-color);
  display: flex;
  font-weight: 600;
  line-height: 1;
  gap: 8px;
  padding: 0.25em 0;
  text-decoration: none;
  
  &:hover {
    svg {
      transform: translateX(4px);
    }
  }
  
  svg {
    fill: var(--accent-color);
    height: 16px;
    margin-bottom: 2px;
    transition: transform .2s ease-in-out;
    width: 16px;
  }
}

.startersWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px 30px;
}

@media screen and (min-width: 1024px) {
  .startersWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;

    .intro {
      grid-column: 1 / -1;
    }
  }
}

.intro {
  h3 {
    font-size: rfs(32px);
    margin: 0 0 10px 0;
  }
}

.fullFledged {
  display: grid;
  gap: 20px 30px;
}

@media screen and (min-width: 520px) {
  .fullFledged {
    grid-template-columns: 1fr 1fr;

    .intro {
      grid-column: 1 / -1;
    }
  }
}

.techStarters {
  display: grid;
  gap: 20px 30px;
}

@media screen and (min-width: 520px) {
  .techStarters {
    grid-template-columns: 1fr 1fr;

    .intro {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 800px) {
  .techStarters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .techStarters {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.boxes {
  align-items: stretch;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width-with-margin);
  overflow-x: auto;
  padding: 15px 0 40px var(--page-margin);
  width: 100%;
}

.boxContainer {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  padding-right: 30px;
  width: 330px;

  &:last-child {
    padding-right: var(--page-margin);
  }

  > a {
    align-items: stretch;
    display: flex;
    width: 100%;
  }
}

.boxImageImage {
  display: block !important;
}

.category {
  padding-bottom: rfs(60px);
}

.categoryHeader {
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto 20px;
  max-width: var(--page-width-with-margin);
  min-width: 0;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  text-align: center;
  text-align: left;
  width: 100%;

  @media (width > 900px) {
    align-items: flex-end;
    display: flex;
    text-align: left;
  }
}

.categoryLeft {
  flex: 1;
}

.categoryDesc {
  font-size: 0.9em;
}

.categoryTitle {
  color: var(--light-body-color);
  font-size: rfs(40px);
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 5px;
}

.browseAll {
  color: var(--azure-color);
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: rfs(30px);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }

  svg {
    display: inline-block;
    fill: var(--azure-color);
    height: 0.7em;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.grid {
  @media (width > 900px) {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--page-width-with-margin);
  }
}

.techLogo {
  margin-top: 20px;
  height: 25px;
}

.demoDesc {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.demoDescBody {
  flex: 1;
}
