@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.category {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.categoryIntro {
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  width: 100%;

  .intro {
    @media screen and (min-width: 520px){
      width: calc(100% - 120px);
    }
  }
}

.header {
  border-bottom: 1px solid var(--light-body-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: rfs(35px);
  padding-bottom: rfs(25px);
  width: 100%;

  @media screen and (min-width: 640px) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.headerTitle {
  font-size: rfs(64px);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1;
  margin: 0;
}

.headerViewAll {
  align-items: center;
  color: var(--accent-color);
  display: flex;
  font-weight: 600;
  line-height: 1;
  gap: 8px;
  padding: 0.325em 0;
  text-decoration: none;
  
  &:hover {
    svg {
      transform: translateX(4px);
    }
  }
  
  svg {
    fill: var(--accent-color);
    height: 16px;
    margin-bottom: 2px;
    transition: transform .2s ease-in-out;
    width: 16px;
  }
}

.startersWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px 30px;
  margin-bottom: 80px;
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
  }

  .intro {
    @media screen and (min-width: 520px) {
      grid-column: 1 / -1;
    }
  }
}

.intro {
  width: 100%;
  margin-bottom: 30px;

  p {
    margin: 0;
  }

  h3 {
    font-size: rfs(32px);
    margin: 0 0 10px 0;
  }
}

.fullyFledged {
  display: grid;
  gap: 30px;

  @media screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
  }
}

.techStarters {
  display: grid;
  gap: 20px 30px;

  @media screen and (min-width: 520px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.comingsoonWrapper {
  aspect-ratio: 4.2/1;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.comingsoon {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  bottom: 1px;
  display: flex;
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;

  figure,
  p {
    animation: pulse 5s infinite;
  }

  figure {
    background-color: #eee;
    border-radius: 4px;
    width: 30%;
    height: calc(100% - 20px);
    margin: 10px;
  }

  p {
    color: #ccc;
    font-size: rfs(18px);
  }
}

.comingsoon:after {
	left: 50%;
  animation: rotate 4s linear infinite;
  aspect-ratio: 1/1;
  background-image: conic-gradient(rgba(0,0,0,0), #ff9375, rgba(0,0,0,0) 50%);
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 800%;
  z-index: -1;
}

.carouselWrapper {
  align-items: stretch;
  display: flex;
  max-width: calc(var(--page-width-with-margin) + var(--page-margin) * 2);
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: var(--page-margin);
    z-index: 10;

    @media screen and (min-width: 1200px) {
      width: calc(var(--page-margin) * 2);
    }
  }

  &::before {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    left: 0;
  }

  &::after {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    right: 0;
  }
}

.boxContainer {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  padding-right: 30px;
  width: 330px;

  &:last-child {
    padding-right: var(--page-margin);
  }

  > a {
    align-items: stretch;
    display: flex;
    width: 100%;
  }
}

.boxImageImage {
  display: block !important;
}

.embla {
  overflow-x: hidden;
  padding: 0 var(--page-margin);
  
  @media screen and (min-width: 1200px) {
    padding: 0 calc(var(--page-margin) * 2);
  }
}

.emblaContainer {
  cursor: grab;
  display: flex;
  gap: 0.75rem;
  padding: 20px 0 80px 0;


  &:active {
    cursor: grabbing;
  }
}

.emblaSlide {
  display: flex;
  flex: 0 0 300px;
  min-width: 0;
}

.controls {
  bottom: -10px;
  display: flex;
  gap: 10px;
  margin-right: var(--page-margin);
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;

  @media screen and (min-width: 640px) {
    bottom: unset;
    top: -40px;
  }

  @media screen and (min-width: 1240px) {
    right: var(--page-margin);
  }
}

.prevSlide,
.nextSlide {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  transition: opacity .3s, transform .3s;
  width: 44px;
  z-index: 20;

  &:hover {
    transform: scale(1.1);
  }

  &.isDisabled svg {
    opacity: 0.3;
  }
}
