.boxes {
  display: flex;
  overflow-x: auto;
  padding: 15px 0 40px var(--page-margin);
  max-width: var(--page-width-with-margin);
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  width: 100%;
}

.boxContainer {
  padding-right: 30px;
  display: flex;
  align-items: stretch;
  width: 330px;
  flex-shrink: 0;

  &:last-child {
    padding-right: var(--page-margin);
  }

  > a {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
}

.boxImageImage {
  display: block !important;
}

.category {
  padding-bottom: rfs(60px);
}

.categoryHeader {
  width: 100%;
  max-width: var(--page-width-with-margin);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin: 0px auto 20px;
  min-width: 0;
  text-align: center;

  @media (width > 900px) {
    display: flex;
    text-align: left;
    align-items: flex-end;
  }
}

.categoryLeft {
  flex: 1;
}

.categoryDesc {
  font-size: 0.9em;
}

.categoryTitle {
  font-size: rfs(40px);
  color: var(--light-body-color);
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 5px;
}

.browseAll {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: var(--azure-color);
  margin-top: rfs(30px);
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  svg {
    height: 0.7em;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    fill: var(--azure-color);
  }
}

.grid {
  @media (width > 900px) {
    max-width: var(--page-width-with-margin);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

.techLogo {
  height: 25px;
  margin-top: 20px;
}

.demoDesc {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.demoDescBody {
  flex: 1;
}

/* WIP */
.sectionWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.section {
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
  width: 100%;
}

.sectionHeader {
  align-items: flex-end;
  border-bottom: 1px solid var(--light-body-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-bottom: 30px;
}

.headerTitle {
  font-family: var(--font-headline);
  color: var(--body-color);
  font-size: rfs(64px);
  font-weight: 500;
  margin: 0;
}

.headerViewAll {
  align-items: center;
  color: var(--accent-color);
  display: flex;
  font-weight: 600;
  line-height: 1;
  gap: 8px;
  padding: 0.25em 0;
  text-decoration: none;
  
  &:hover {
    svg {
      transform: translateX(4px);
    }
  }
  
  svg {
    fill: var(--accent-color);
    height: 16px;
    margin-bottom: 2px;
    transition: transform .2s ease-in-out;
    width: 16px;
  }
}

.startersWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px 30px
}

@media screen and (min-width: 1024px) {
  .startersWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px
  }
}

@media screen and (min-width: 1024px) {
  .startersWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;

    .intro {
      grid-column: 1 / -1;
    }
  }
}

.intro {
  h3 {
    font-size: rfs(32px);
    margin: 0 0 10px 0;
  }
}

.fullFledged {
  display: grid;
  gap: 20px 30px;
}

@media screen and (min-width: 520px) {
  .fullFledged {
    grid-template-columns: 1fr 1fr;

    .intro {
      grid-column: 1 / -1;
    }
  }
}

.techStarters {
  display: grid;
  gap: 20px 30px;
}

@media screen and (min-width: 480px) {
  .techStarters {
    grid-template-columns: 1fr 1fr;

    .intro {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 800px) {
  .techStarters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .techStarters {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: inherit;
  text-decoration: none;
  transition: transform .2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .imageWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.card[data-orientation="vertical"] {
  overflow: hidden;

  .imageWrapper {
    aspect-ratio: 3/2;
    width: 100%;
  }

  .cardContent {
    border-top: 1px solid #eee;
  }
}

.card[data-orientation="horizontal"] {
  align-items: center;
  display: flex;

  .imageWrapper {
    aspect-ratio: 3/2;
    width: 100%;
    flex-shrink: 0;
    max-width: 33%;
  }

  .cardContent {
    border-left: 1px solid #eee;
    padding: 15px 20px;
    overflow: hidden;
  }

  .cardTitle {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cardDescription {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-clamp: 2; 
    overflow: hidden;
  }

  .cardFooter {
    margin: 10px 0 0 0;
  }
}

.card[data-size="small"] {
  background-color: transparent;
  box-shadow: none;
  gap: 20px;

  .imageWrapper {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
  }

  .cardTitle {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .cardContent {
    border: none;
    padding: 0;
  }
}

.cardImage {
  aspect-ratio: 3/2;
  height: 100%;
  width: auto;
}

.cardTechnology {
  aspect-ratio: 16/9;
  margin: 0;
  max-width: 90px;
  position: relative;
  width: 50%;
  min-width: 50px
}

.cardContent {
  padding: 25px 20px;
}

.cardTitle {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 21px;
}

.cardDescription {
  font-size: 15px;
  margin: 0;
}

.technology {
  aspect-ratio: 16/9;
  margin: 0 0 10px 0;
  width: 80px;
  margin-top: 20px;
}

.technologyLogo {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.cardFooter {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 -2px;
}

.cardBadge,
.cardLabel {
  border-radius: 40px;
  font-size: 14px;
  line-height: 1;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.cardBadge {
  border: 1px solid #eee;
}

.cardLabel {
  background-color:#eee;
  white-space: nowrap;
}