.root {
  text-align: center;
  margin: 20vh 0;
  padding-top: 70px;
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: 150px;
    line-height: 0.3;
  }
}

.quote {
  font-family: var(--font-serif);
  font-size: 50px;
  font-style: italic;
  max-width: 800px;
  margin: 0 auto 40px;

  &:before {
    content: '\201C'
  }

  &:after {
    content: '\201D'
  }
}
