.root {
  text-align: left;
  padding-top: 70px;
  position: relative;
  max-width: 800px;
  margin: 20vh auto;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: 150px;
    line-height: 0.3;
  }
}

.quote {
  font-family: var(--font-serif);
  font-size: 40px;
  font-style: italic;
  margin-bottom: 40px;
  line-height: 1.2;

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}
