.root {
  text-align: left;
  padding-top: rfs(70px);
  position: relative;
  max-width: 800px;
  margin: rfs(200px) auto;

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    font-family: var(--font-serif);
    content: '\201C';
    color: var(--accent-color);
    font-size: 250px;
    line-height: 0.3;
    transform: translateX(-50%);
  }
}

.quote {
  font-family: var(--font-serif);
  font-size: rfs(40px);
  margin-bottom: 40px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  text-align: center;

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.image {
  border-radius: 400px;
  margin-bottom: 20px;
  width: 150px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  @media (width > 700px) {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  text-align: center;

  @media (width > 700px) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}

.authorRole {
  @media (width > 700px) {
    max-width: 250px;
  }
}

.role {
  color: var(--light-body-color);
}
