.grid {
  @media (width > 900px) {
    display: flex;
    margin-right: rfs(-30px);

    > div {
      flex: 1;
      margin-right: rfs(30px);
    }
  }
}

.intro {
  margin-bottom: rfs(150px);
}

.color {
  height: 200px;
  position: relative;
  font-family: var(--font-sans);
  margin: rfs(50px) 0;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
}

.colorCaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: rfs(30px);
  color: white;
  line-height: 1.2;
}

.colorCaptionRight {
  left: auto;
  text-align: right;
  right: 0;
}
