.course {
  @media (max-width: 900px) {
    text-align: center;
    --dotBaseUnit: 20px;
    margin-bottom: rfs(50px);
  }

  @media (min-width: 901px) {
    display: grid;
    grid-gap: rfs(80px);
    grid-template-columns: 1fr 1fr;
    margin: rfs(80px);
    align-items: center;
    --dotBaseUnit: 70px;
  }
}

.course:nth-child(odd) {
  .courseContent {
    order: -1;
  }
}

.courseImage {
  flex: 1;
  position: relative;

  @media (max-width: 900px) {
    max-width: 200px;
    margin: 0 auto 30px;
  }
}

.dot {
  position: absolute;
  border-radius: 1000px;
  animation: move 2s infinite alternate ease-in-out;
  z-index: -1;
  background: linear-gradient(#c3f4fa, #9be0e8);
}

@keyframes move {
  0% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(15px);
  }
}

.courseContent {
  flex: 1;
}

.courseTitle {
  font-size: rfs(40px);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--light-body-color);
    }
  }
}

.courseChapters {
  margin-top: 30px;
  color: var(--light-body-color);
  font-size: 0.9em;

  a {
    color: inherit;

    &:hover {
      color: var(--base-body-color);
    }
  }
}
