.course {
  display: grid;
  grid-gap: rfs(80px);
  grid-template-columns: 1fr 1fr;
  margin: rfs(80px);
  align-items: center;

  --dotBaseUnit: 40px;

  @media screen and (width > 800px) {
    --dotBaseUnit: 70px;
  }
}

.course:nth-child(odd) {
  .courseContent {
    order: -1;
  }
}

.courseImage {
  flex: 1;
  position: relative;
}

.dot {
  position: absolute;
  border-radius: 1000px;
  animation: move 2s infinite alternate ease-in-out;
  z-index: -1;
  background: linear-gradient(#c3f4fa, #9be0e8);
}

@keyframes move {
  0% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(15px);
  }
}

.courseContent {
  flex: 1;
}

.courseTitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.02em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--light-body-color);
    }
  }
}

.courseChapters {
  margin-top: 30px;
  color: var(--light-body-color);

  a {
    color: inherit;

    &:hover {
      color: var(--base-body-color);
    }
  }
}
