.ba {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;

  @media (width > 900px) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 90px 1fr;
    grid-column-gap: 30px;
  }
}

.baCol {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: rfs(50px);
  background: white;
  margin-bottom: rfs(70px);

  &:last-child {
    margin-bottom: 0;
  }

  @media (width > 900px) {
    margin-bottom: 0;
  }

  svg {
    height: rfs(60px);
    margin-bottom: rfs(40px);
    display: inline-block;
  }
}

.baColTitle {
  font-weight: bold;
  font-size: rfs(30px);
  margin-bottom: rfs(30px);
}

.baPoint {
  margin: 30px 0;
  @media (width > 900px) {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.baInterstitial {
  display: none;
  @media (width > 900px) {
    display: block;
    padding-top: 10em;
    text-align: center;
  }
}

.boxPros {
  display: flex;
}

.boxProsInner {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: rfs(50px);
  background: white;
  width: 100%;
  text-align: center;

  @media (width > 840px) {
    text-align: left;
    width: auto;
  }
}
