.container {
  padding-top: 50px;
  @media (width < 1300px) {
    padding: 50px var(--page-margin);
  }
  @media (width < 1000px) {
    padding: rfs(50px);
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
  }
}

.topGuide,
.guide {
  margin-bottom: 7px;
  color: var(--light-body-color);
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.group {
  margin-bottom: 30px;
}

.groupName {
  color: var(--light-body-color);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-size: rfs(50px);
  margin: 0;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -0.03em;
}

.subtitle {
  font-size: rfs(20px);
  margin: 0;
  margin-bottom: rfs(50px);
  line-height: 1.3;
  color: var(--light-body-color);
}

.introTitle {
  font-family: var(--font-sans);
  color: var(--light-body-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: 50px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.useCaseCards {
  position: relative;
  display: grid;
  grid-gap: 20px;
  list-style: none;
  margin-top: 16px;

  @media (width > 600px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.useCaseCard {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 30px 20px;
  font-size: 15px;
  transition: all 200ms ease-in-out;

  svg {
    height: 50px;
    display: block;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.useCaseCardTitle {
  font-weight: bold;
  font-size: 20px;
  color: var(--accent-color);
}

.activePage {
  color: var(--accent-color);
}

.videoCard {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  font-size: 15px;
  text-decoration: none;
  color: inherit;
  display: block;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.videoCardTitle {
  border-top: 1px solid var(--border-color);
  padding: 30px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
}

.videoCardCover,
div.videoCardCover img {
  box-shadow: none;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  display: block;
}
