.root {
  display: block;
  padding: 50px 80px;
  background: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: var(--base-body-color);
  transition: background 0.2s ease-in-out;
  background: linear-gradient(-30deg, #FAEDFF 30%, #e9fcff 45%, white 60%);
  background-position: 0 0;
  background-size: 200vw 100%;

  &:hover {
    background-position: 50%;
  }
}

.rootInner {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.title {
  font-family: var(--font-headline);
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.subtitle {
  font-size: 0.9em;
  line-height: 1.5;
}

.action {
  margin-left: 60px;
  text-align: center;
}