.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo {
  margin: 0 10px 20px 10px;
  text-align: center;

  @media screen and (width > 850px) {
    margin: 0 20px 40px 20px;
  }

  svg {
    height: 20px;
    fill: var(--light-body-color);

    @media screen and (width > 450px) {
      height: 25px;
    }

    @media screen and (width > 950px) {
      height: 30px;
    }
  }
}

.title {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px;
  max-width: 700px;

  strong {
    color: #747b8f;
  }
}
