.root {
  margin: 0 auto;
  position: relative;
}

.imageFrame {
  overflow: hidden;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.2s 1000ms ease-in-out;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0 0;
  overflow: hidden;
  transition: all 0.2s 1000ms ease-in-out;
  max-width: none;
}

.ellipseFrame {
  border-radius: 50%;
}

.params {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 100%;
  max-width: 950px;
  transform: translateX(-50%);
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 15px;
  background: white;
  height: 60px;
}

.paramsInner {
  display: flex;
  font-family: var(--font-mono);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  height: 30px;
  /* animation: hideUrl 0.5s 4s ease-in-out;
  animation-fill-mode: both; */
}

@keyframes hideUrl {
  0% {
    left: 15px;
  }
  100% {
    left: -250px;
  }
}

.paramContainer {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 30px;
  width: var(--content-length);
}

.param {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paramValueContainer {
  position: relative;
  height: 30px;
}

.paramName {
  color: #204588;
}

.paramEq {
  color: var(--extra-light-body-color);
  margin-left: 2px;
  margin-right: 2px;
}

.paramUrl {
  color: var(--extra-light-body-color);
}

.paramValue {
  position: absolute;
  transition: all 250ms 800ms ease-in-out;
}

.valueAnimationEnter {
  opacity: 0.01;
  top: -30px;
}

.valueAnimationEnterActive {
  opacity: 1;
  top: 0px;
}

.valueAnimationLeave {
  opacity: 1;
  top: 0px;
}

.valueAnimationLeaveActive {
  opacity: 0.01;
  top: 30px;
}

.paramAnimationEnter {
  transition: all 400ms 500ms ease-in-out;
  opacity: 0.01;
  width: 0;
}

.paramAnimationEnterActive {
  opacity: 1;
  width: var(--content-length);
}

.paramAnimationLeave {
  transition: all 400ms ease-in-out;
  opacity: 1;
  width: var(--content-length);
}

.paramAnimationLeaveActive {
  transition: all 250ms ease-in-out;
  opacity: 0.01;
  width: 0px;
}

.imageAnimationEnter {
  opacity: 0.01;
  transition: all 300ms 1000ms ease-in-out;
}

.imageAnimationEnterActive {
  opacity: 1;
}

.imageAnimationLeave {
  opacity: 1;
  transition: all 300ms 1500ms ease-in-out;
}

.imageAnimationLeaveActive {
  opacity: 0.01;
}
