.root {
  margin: 90px 0;
  text-align: center;
}

.rootBlocks {
  display: flex;
  justify-content: space-between;
}

.rootTitle {
  color: var(--extra-light-body-color);
  font-family: var(--font-sans);
  font-size: 20px;
  margin-bottom: 70px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
}

.block {
  padding: 0 30px;
  flex: 1;
}

.blockTitle {
  font-family: var(--font-headline);
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
