.notice {
  background: #f4cf58;
  padding: 10px 0;
  color: black;
  font-size: 14px;
  text-align: center;
}

.header {
  padding: rfs(45px) 0;
  margin-bottom: rfs(50px);
}

.headerInner {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;

  svg {
    height: 40px;
  }

  span {
    font-size: rfs(25px);
    font-weight: bold;
    letter-spacing: -0.03em;
    padding-left: 15px;
  }

  @media (width < 950px) {
    svg {
      height: 30px;
    }

    span {
      font-size: rfs(20px);
      padding-left: 10px;
    }
  }
}

.nav {
  flex: 1;
  text-align: right;
  font-size: 14px;

  a {
    color: var(--light-body-color);
    text-decoration: none;
    padding: 0.8em 1em;
    border: 1px solid var(--extra-light-body-color);
    border-radius: 4px;

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: var(--light-body-color);
      margin-right: 4px;
    }

    &:hover {
      border-color: var(--base-body-color);
      color: var(--base-body-color);

      svg {
        fill: var(--base-body-color);
      }
    }
  }

  @media (width > 900px) {
    font-size: 16px;
  }
}

.categories {
  @media (width < 950px) {
    display: none;
  }

  margin: 0 20px;
  display: flex;
  align-items: center;
  font-size: 17px;

  a {
    color: inherit;
    padding: 10px;
    text-decoration: none;

    span {
      position: relative;
      padding: 6px 0;
    }

    span:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background: var(--accent-color);
      transition: all 0.2s ease-in-out;
    }

    &.active,
    &:hover {
      > span:after {
        width: 100%;
      }
    }
  }
}
