.root {
  padding: 10vh 0 0;
  position: relative;

  &:before {
    content: '';
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    clip-path: var(--clip-path);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70%;
    z-index: -1;
  }
}

.title {
  font-family: var(--font-headline);
  font-size: 60px;
  max-width: 70%;
  text-align: center;
  margin: 40px auto;
  line-height: 1;
}

.subtitle {
  margin: 20px auto 0;
  max-width: 800px;
  text-align: center;
  line-height: 1.3;
}

.content {
  margin-top: 70px;
}