.limit,
.plansContainer {
  @media screen and (min-width: 650px) {
    display: grid;
    grid-template-columns: 150px repeat(3, minmax(200px, 5fr));
    align-items: center;
    column-gap: 30px;
  }

  @media screen and (max-width: 649px) {
    > * {
      margin-bottom: 40px;
    }
  }
}

.plansStrip {
  position: relative;

  &:before {
    content: '';
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    clip-path: var(--clip-path);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 20%;
    z-index: -1;
  }
}

.plansContainer {
  padding-bottom: 40px;
}

.plan {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 40px 20px 20px;
  border-radius: 10px;
  background: white;
}

.planImage {
  width: 80px;
  height: 60px;
  background: var(--light-bg-color);
  margin: 0 auto 40px;
}

.planName {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: rfs(28px);
  margin-bottom: 10px;
}

.planDescription {
  color: var(--light-body-color);
  font-size: 0.9em;
  margin-bottom: 30px;
}

.planPriceContainer {
  padding-bottom: 30px;
}

.planPriceKicker {
  margin-top: 5px;
  color: var(--light-body-color);
}

.planPrice {
  font-weight: bold;
  letter-spacing: -0.02em;
  font-size: rfs(35px);
}

.planPricePerMonth {
  color: var(--light-body-color);
}

.planYearlyPrice {
  display: block;
  margin-top: 6px;
  font-size: 0.9em;
}

.planLimits {
  margin-bottom: 30px;

  @media screen and (min-width: 650px) {
    display: none;
  }
}

.planLimit {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.planLimitName {
  color: var(--light-body-color);
  margin-bottom: 4px;
}

.planLimitExtra {
  color: var(--light-body-color);
  font-size: 0.8em;
}

.limit {
  padding: 20px 0;
  text-align: center;
  font-size: 0.9em;
  border-radius: 10px;
  display: none;

  @media screen and (min-width: 650px) {
    display: grid;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:nth-child(2n) {
    background: var(--highlight-bg-color);
  }
}

.limitLegend {
  text-align: left;
  grid-row: 1 / span 2;
  padding-left: 20px;
  font-weight: bold;
}

.limitPlan {
  grid-row: 1 / span 2;
}

.limitPlanWithExtra {
  grid-row: 1 / span 1;
}

.limitExtra {
  margin-top: 10px;
  flex: 8;
  color: var(--light-body-color);
  font-size: 0.8em;
}

.limitExtraWide span {
  position: relative;
  padding: 0 15px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: var(--border-color);
    top: 50%;
  }

  &:before {
    width: 30px;
    right: 100%;
  }

  &:after {
    left: 100%;
    width: 30px;
  }
}

/* --------------------------------------------------- */

.stdTitle {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto rfs(70px);
  max-width: 700px;
}

.stdBullets {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rfs(70px) rfs(100px);

  @media (width > 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stdBullet {
  text-align: center;
}

.stdBulletTitle {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: rfs(20px);
}

.stdBulletDesc {
  color: var(--light-body-color);
  font-size: 0.9em;
}

.faqs {
  max-width: 1000px;
  margin: 0 auto;

  @media (width > 600px) {
    column-count: 2;
    column-gap: 60px;
  }
}

.faq {
  margin-bottom: rfs(40px);
  display: inline-block;
  width: 100%;
  text-align: center;

  @media (width > 600px) {
    text-align: left;
  }
}

.faqQ {
  font-weight: bold;
  color: var(--light-body-color);
  font-size: rfs(20px);
  margin-bottom: 15px;
}

.faqA {
  font-size: 0.9em;

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }
}

.enterprise {
  box-shadow: var(--box-shadow);
  padding: rfs(40px);
  background: white;

  @media screen and (width > 650px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }
}

.enterpriseGroup {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (width > 650px) {
    margin-bottom: 0;
  }
}

.enterpriseGroupTitle {
  font-weight: bold;
  font-size: rfs(25px);
  margin-bottom: rfs(20px);
}

.buttonGroup {
  margin-top: 20px;
  display: inline-grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.fullComparison {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rfs(30px);

  svg {
    height: 0.7em;
    margin-left: 10px;
    fill: var(--accent-color);
    position: relative;
  }

  &:hover svg {
    left: 3px;
  }
}
