.plans {
  position: relative;

  &:before {
    content: '';
    background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
    clip-path: var(--clip-path);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 70%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.plansInner {
  display: flex;
  overflow-x: auto;
  padding: 20px 0 60px var(--page-margin);
  max-width: var(--page-width-with-margin);
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  width: 100%;
}

.planContainer {
  flex: 1;
  min-width: 320px;
  padding-right: var(--page-margin);
}

.plan {
  box-shadow: var(--box-shadow);
  background: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px;
}

.planHeader {
  padding: 0 50px 30px;
}

.planName {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: rfs(25px);
  margin-bottom: 10px;
}

.planDescription {
  color: var(--light-body-color);
  font-size: 0.9em;
}

.planPriceContainer {
  padding-top: 20px;
}

.planPriceKicker {
  margin-top: 5px;
  color: var(--light-body-color);
  font-size: 0.9em;
  &:before {
    content: 'x';
    color: transparent;
  }
}

.planPrice {
  font-size: rfs(60px);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.planPriceSubtitle {
  color: var(--light-body-color);
  font-size: 0.9em;
}

.planIncluded {
  font-weight: bold;
  letter-spacing: -0.02em;
  text-treansform: uppercase;
  color: var(--light-body-color);
  text-align: center;
  margin: 20px 0;
}

.planAction {
  padding: 40px 40px;
}

.planBullets {
  text-align: center;

  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    border-top: 1px solid var(--border-color);
    padding: 15px 20px;
    font-size: 0.9em;
  }
}

.compare {
  width: 100%;
  overflow: auto;
  font-size: 0.9em;

  @media (width > 900px) {
    font-size: 1em;
  }

  td {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    &:first-child {
      padding-left: 0;
    }
  }
}

.quota {
  width: 40%;
}

.quotaValue {
  text-align: center;
  width: 20%;
  padding-left: 40px;
  padding-right: 40px;
}

.quotaName {
  font-weight: bold;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.quotaExtra {
  font-size: 0.8em;
  color: var(--light-body-color);
  margin: 0 auto;
  margin-top: 10px;
}

.quotaDescription {
  font-size: 0.8em;
  color: var(--light-body-color);
  max-width: 330px;
  margin-top: 5px;
}

.comparePlan {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  text-align: center;
}

.stdTitle {
  font-size: rfs(20px);
  font-weight: bold;
  color: var(--extra-light-body-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto rfs(70px);
  max-width: 700px;
}

.stdBullets {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: rfs(70px) rfs(100px);

  @media (width > 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stdBullet {
  text-align: center;
}

.stdBulletTitle {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: rfs(20px);
}

.stdBulletDesc {
  color: var(--light-body-color);
  font-size: 0.9em;
}

.faqs {
  max-width: 1000px;
  margin: 0 auto;

  @media (width > 600px) {
    column-count: 2;
    column-gap: 60px;
  }
}

.faq {
  margin-bottom: rfs(40px);
  display: inline-block;
  width: 100%;
  text-align: center;

  @media (width > 600px) {
    text-align: left;
  }
}

.faqQ {
  font-weight: bold;
  color: var(--light-body-color);
  font-size: rfs(20px);
  margin-bottom: 15px;
}

.faqA {
  font-size: 0.9em;

  a {
    color: inherit;

    &:hover {
      color: var(--accent-color);
    }
  }
}

.switchContainer {
  display: flex;
  justify-content: center;
  margin: rfs(70px) 0;
  align-items: center;
  cursor: pointer;
  font-size: rfs(20px);
}

.switch {
  height: 25px;
  width: 50px;
  position: relative;
  border-radius: 40px;
  background: var(--extra-light-body-color);
  transition: all 0.2s ease-in-out;
  margin-right: 13px;

  &:before {
    content: '';
    height: 21px;
    width: 21px;
    border-radius: 40px;
    position: absolute;
    left: 2px;
    top: 2px;
    background: var(--light-bg-color);
    transition: all 0.2s ease-in-out;
  }
}

.switchOn {
  background: var(--azure-color);

  &:before {
    left: calc(100% - 23px);
  }
}
