.posts {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 60px;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1000px) {
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.post {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}


.mainImage {
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.postBody {
  padding: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex: 1;
}

.postTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.moreLocations {
  color: var(--light-body-color);
  font-size: 14px;
  font-weight: normal;
}

.postDescription {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: var(--light-body-color);
  display: -webkit-box;
  font-size: 16px;
  overflow: hidden;
}

.madeBy {
  color: var(--body-color);
  font-size: 12px;
  margin-top: 30px;

  p {
    margin: 0 0 6px 0;
  }

  figure {
    width: 140px;
    height: 30px;
    position: relative;
    margin: 0;
  }

  img {
    position: absolute;
    object-fit: contain;
    object-position: left bottom;
    height: 100%;
    width: 100%;
  }
}
