.root {
  position: relative;

  [data-anchor] {
    position: absolute;
    top: -120px;
  }

  &:hover {
    [data-permalink] {
      opacity: 0.5;
    }
  }

  [data-permalink] {
    transition: all 100ms ease-in-out;
    opacity: 0;
    background: url('../../public/icons/regular/link.svg');
    background-size: contain;
    height: 0.7em;
    width: 0.7em;
    display: inline-block;

    svg {
      fill: var(--accent-color);
    }

    &:hover {
      opacity: 1;
    }
  }
}
