.root {
  margin: 0 -30px;

  @media (width > 600px) {
    margin: 0;
  }
}

.center {
  position: relative;
}

.lines {
  margin: 15px 20px;
  stroke-dasharray: 8;
  stroke: none;
  stroke-width: 1;
  fill: none;
  fill-rule: evenodd;
  animation: dash 20s linear infinite;
  stroke: #c2c8d6;
  stroke-width: 15;
  stroke-dasharray: 14;

  @media (width > 600px) {
    stroke-width: 8;
    stroke-dasharray: 8;
    margin: 15px 40px;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 400;
  }
}

.apps,
.people {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.people {
  top: auto;
  bottom: 0;
}

.app {
  width: 80px;
}

.appLabel {
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8em;

  @media (width > 600px) {
    font-size: 1em;
  }
}

.appIcon svg {
  height: rfs(65px);
  width: rfs(65px);
}

.dato {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: rfs(50px);
  border-radius: rfs(50px);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 40px #ffffff;
  min-width: rfs(600px);

  @media (width > 600px) {
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  }

  svg {
    margin: 0 auto;
    display: block;
    width: rfs(250px);
  }
}

.person {
  width: 150px;
}

.personIcon img {
  height: rfs(65px);
  width: rfs(65px);
  border-radius: 50px;
  background: linear-gradient(45deg, #fdece5, #fefae4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.personName {
  font-size: 0.8em;
  margin-top: 5px;
}

.personRoleMobile,
.personRole {
  font-weight: bold;

  letter-spacing: -0.02em;
  line-height: 1;
}

.personRoleMobile {
  font-size: 0.8em;
  margin-top: 5px;
  @media (width > 600px) {
    display: none;
  }
}

.personRole {
  font-size: 1em;
  margin-top: 15px;
  @media (width <= 600px) {
    display: none;
  }
}
