.zoom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 200ms ease-in-out;
  animation-fill-mode: both;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.enter {
  top: -200%;
}

.enterActive {
  top: 0%;
}

.leave {
  top: 0%;
}

.leaveActive {
  top: -200%;
}

.zoomContainer {
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  max-width: 1500px;
}
