.boxes {
  display: flex;
  overflow-x: auto;
  padding: 10px 0 20px var(--page-margin);
  max-width: var(--page-width-with-margin);
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  width: 100%;
}

.categoryHeader {
  width: 100%;
  max-width: var(--page-width-with-margin);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 600px;
  margin: 0 auto 40px;
}

.boxContainer {
  padding-right: 20px;
  flex: 1;
  display: flex;
  align-items: stretch;
  min-width: 280px;
  max-width: 350px;

  &:last-child {
    padding-right: var(--page-margin);
  }
}

.box {
  border-radius: 5px;
  box-shadow: 0 0px 1.4px rgba(0, 0, 0, 0.028), 0 0px 4.7px rgba(0, 0, 0, 0.042),
    0 0px 21px rgba(0, 0, 0, 0.07);
  font-size: 17px;
  display: block;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.boxBody {
  padding: 20px;
}

.boxTitle {
  font-weight: bold;
}

.logo {
  padding: 30px;
  height: 150px;
  overflow: hidden;
  background: linear-gradient(45deg, #f9ecfe, white);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 90%;
  }
}

.logo.square img {
  width: 50%;
}

.boxImageImage {
  width: 100% !important;
}

.boxDesc {
  margin-top: 4px;
  font-size: 15px;
  color: var(--light-body-color);
  line-height: 1.1;
}

.category {
  margin-bottom: 90px;
}

.categoryDesc {
  font-size: 0.9em;
  @media (width > 900px) {
    font-size: 1em;
  }
}

.categoryTitle {
  font-size: rfs(40px);
  font-family: var(--font-headline);
  color: var(--light-body-color);
  margin-bottom: 10px;
}

.browseAll {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: var(--light-body-color);
  margin-top: rfs(30px);
  display: block;
  text-decoration: none;

  svg {
    height: 0.7em;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    fill: var(--light-body-color);
  }
}

.grid {
  @media (width > 900px) {
    max-width: var(--page-width-with-margin);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

    .category {
    }
  }
}
