.button {
  display: inline-block;
}
.code {
  display: block;
  overflow-y: auto;
  white-space: pre;
}
.datocmsJsonContainer :global(pre) {
  max-width: 100%;
}
.formField:invalid {
  border-color: var(--accent-color);
}
