@media (width < 600px) {
  .toc {
    position: sticky;
    top: 0px;
    background: white;
    z-index: 1;
    margin-bottom: 30px;
  }

  .tocInner {
    display: flex;
    justify-content: center;
  }

  .tocEntry {
    padding: 10px 3px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}

@media (width >= 600px) {
  .root {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }

  .toc {
    margin-right: rfs(90px);
  }

  .tocInner {
    position: sticky;
    top: 20px;
    z-index: 1;
    columns: 2;
    line-height: 1;
    text-align: center;
  }

  .tocEntry {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}

@media (width >= 1125px) {
  .tocInner {
    top: 100px;
  }
}

.tocEntry:hover {
  color: var(--accent-color);
}

.letterGroups {
  margin: 0;
}

.letterGroup {
  background: linear-gradient(45deg, #fefae4, #f9ecfe);
  border-radius: 10px;
  padding: 20px;
  margin: rfs(150px) 0 rfs(50px);
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  @media (width > 900px) {
    .letterGroupEntries {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media (width >= 600px) {
    padding: 120px 20px 40px 20px;
  }
}

.letterGroupTitle {
  font-size: 80px;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 20px;

  [data-permalink] {
    display: none;
  }

  @media (width >= 600px) {
    position: absolute;
    top: -90px;
    left: 20px;
    font-size: 180px;
  }
}

.entry {
  margin: rfs(50px) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.entryTitle {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
}

.entryDescription {
  font-size: 17px;
  margin: 0;
  padding: 0;
}
