.root {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.number {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.body {
  font-size: 0.9em;
  color: #444;
  line-height: 1.4;
}