.root {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  color: inherit;
  text-decoration: none;
  display: block;
}

a.root {
  transition: all 200ms ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}

.number {
  font-weight: bold;
  font-size: rfs(50px);
  line-height: 1.4;
}

.label {
  font-weight: bold;
  font-size: rfs(25px);
  line-height: 1;
  margin-bottom: rfs(30px);
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.body {
  font-size: 0.9em;
  color: #444;
  line-height: 1.4;
}

.body a {
  color: #444;
}

.goto {
  margin-top: rfs(25px);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-body-color);
}
