.root {
  @media (width > 900px) {
    display: flex;
    align-items: center;
  }
}

.box,
.left {
  flex: 1;
}

.left {
  position: relative;
  max-width: 600px;
  margin: 0 auto rfs(70px) auto;

  @media (width > 900px) {
    margin: 0;
  }
}

.chrometop {
  position: relative;
  z-index: 2;
}

.chromebottom {
  position: absolute;
  top: -40px;
  left: 20px;
  right: 20px;

  @media (width > 900px) {
    top: -40px;
    left: 20px;
    right: auto;
    width: 100%;
  }
}

.code {
  background-color: #282d3f;
  max-width: 600px;
  &:before {
    content: '';
    padding-top: 66.666%;
    display: block;
  }
}

.box {
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;

  @media (width > 900px) {
    margin: 0;
    margin-left: rfs(80px);
    max-width: none;
    text-align: left;
  }
}

.screenshot {
  display: block !important;
}

.kicker {
  font-weight: bold;
  color: var(--extra-light-body-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.title {
  font-family: var(--font-headline);
  font-size: rfs(50px);
  margin-bottom: 10px;
  line-height: 1;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.actions {
  .docs {
    display: block;
    margin-top: 15px;

    a {
      color: inherit;
    }

    @media (width > 900px) {
      display: inline;
      margin-top: 0px;
      span {
        padding-left: 15px;
      }
    }
  }
}
