/* hero */

/* testimonials */
.testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: rfs(80px);
}

.testimonialTitle {
  padding: 0 var(--page-margin);
  text-align: center;
}

.testimonialsContainer {
  display: flex;
  gap: 50px;
  margin: 0 var(--page-margin);
  max-width: 100%;
  overflow: auto;
  padding: 0 var(--page-margin);
}

.quoteWrapper {
  flex: 1;
  margin: rfs(60px) auto;
  min-width: 280px;
  padding-top: rfs(40px);
  position: relative;

  &:before {
    color: var(--accent-color);
    content: '\201C';
    font-family: var(--font-serif);
    font-size: rfs(150px);
    left: 50%;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-25%);
  }
}

.quote {
  font-family: var(--font-serif);
  font-size: rfs(24px);
  letter-spacing: -0.03em;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
  
  @media screen and (min-width: 800px) {
    font-size: rfs(28px);
  }

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.info {
  text-align: center;

  @media screen and (min-width: 700px) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
  }
}

.avatar {
  border-radius: 50%;
  flex-shrink: 0;
  height: 80px;
  margin: 0 auto 20px auto;
  width: 80px;

  @media screen and (min-width: 700px) {
    margin: 0 40px 0 0;
  }
}

.authorRole {
  color: inherit;
  text-decoration: none;

  @media screen and (min-width: 700px) {
    max-width: 250px;
  }
}

a.authorRole:hover .name {
  text-decoration: underline;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;

  @media screen and (min-width: 800px) {
    font-size: rfs(1em);
  }
}

.role {
  color: var(--light-body-color);
  font-size: 0.8em;

  @media screen and (min-width: 800px) {
    font-size: 1em;
  }
}

/* starter */
.starter {
  background-color: #200523;
  color: #fff;
  padding: rfs(100px) 0;
}

/* features */
.features {
  margin: rfs(100px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rfs(60px) 0;

  &.alternative {
    background-color: rgba(255, 90, 61, 0.1);

    .feature {
      background-color: #fff;
    }    
  }
}

.featuresIntro {
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);
}

.featuresGrid {
  display: grid;
  gap: 20px;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(1, 1fr);
  max-width: var(--page-width-with-margin);
  padding: 0 var(--page-margin);

  @media screen and (min-width: 660px) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  
  @media screen and (min-width: 860px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* features card */

.feature {
  background-color: #f6f6f6;
  border-radius: 12px;
  color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 35px;
  text-decoration: none;
  
  &.isHighlighted {
    @media screen and (min-width: 660px) {
      grid-column: span 2;
    }
  };
}

.featureIcon {
  margin-bottom: 20px;
  height: 20px;
  width: auto;

  img {
    height: 100%;
    width: auto;
  }
}

.featureText {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    padding: 0;
    margin: 0;
  }
}

.featureTitle {
  margin: 0;
}

/* success story */
.successStory {
  background-color: #200523;
  color: #fff;
  padding: rfs(100px) 0;
}