.root {
  font-size: 14px;

  a {
    color: inherit;
  }
}

.block {
  margin-bottom: 15px;
}

.blockTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  font-size: rfs(45px);
  margin-bottom: 20px;
  letter-spacing: -0.03em;

  @media (width > 900px) {
    margin-bottom: 10px;
  }
}

.description {
  color: var(--light-body-color);
  font-size: rfs(23px);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  border: 1px solid var(--border-color);
}

.badge {
  vertical-align: super;
  font-size: 14px;
  letter-spacing: 0;
  background: #f4cf58;
  padding: 4px 15px;
  border-radius: 40px;
  letter-spacing: -0.02em;
  color: var(--base-body-color);
}

.back {
  display: block;
  color: var(--light-body-color);
  text-decoration: none;
  margin-bottom: rfs(30px);
  text-align: center;

  &:hover {
    text-decoration: underline;
  }

  svg {
    fill: var(--light-body-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 0.8em;
  }

  @media (width > 900px) {
    text-align: left;
  }
}

.header {
  margin-bottom: rfs(50px);
}

.gallery {
  margin-top: rfs(50px);
  overflow-x: auto;
  background: var(--light-bg-color);
  border-radius: 5px;
}

.galleryInner {
  white-space: nowrap;
  padding: 40px;
}

.galleryImage {
  display: inline-block;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  > * {
    display: block !important;
  }
}

.announce {
  padding: 20px;
  background: linear-gradient(45deg, #e9fcff 30%, #fdf2ed 60%);
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
  padding-left: 50px;
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 1.1;
  transition: box-shadow 200ms ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow);
  }

  svg {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
